<a href="https://colab.research.google.com/github/Gameto2025/curso_python/blob/main/Copia_de_Python_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python para Data Science

Notebook para el curso de Python para Data Science publicado en la plataforma de [Alura Latam](https://www.aluracursos.com/)

# Introducción a Python
¡Vamos a conocer Python, nuestro ambiente de estudio, y también generaremos nuestro primer código en este lenguaje!

## Google Colaboratory

Ya aprendimos qué es [Python](https://www.python.org/) y ahora aprenderemos a usar nuestra herramienta de ejecución [Google Colaboratory](https://colab.research.google.com/) para programar en un notebook interactivo.

Vamos a probar algunas funciones de este ambiente.

 **`>>> Usa esta celda para mover <<<`**

## ¡Hola mundo!

Vamos a conocer un poco más de cerca nuestro notebook. Para ello ejecutaremos nuestro primer comando en Python: [`print()`](https://docs.python.org/3/library/functions.html#print)

# Manipulando los datos

Vamos a aprender sobre las variables en Python, cómo declararlas y utilizarlas además de conocer otros comandos de este lenguaje. :D

## Variables

En Data Science trabajamos con varios tipos de datos e informaciones, entonces es esencial saber cómo trabajar con las variables.

Las variables en Python se crean cuando atribuimos un valor a ella.

Para esto, colocamos el nombre de la variable, el signo de igual (`=`) y el valor que queremos atribuirle.

Existen algunos tipos de nomes que **no** podemos definir para las variables:

- **Nombres que comiencen con números**
  - Ejemplos: `10_notas`, `2_nombre_casa`, etc.
- **Palabras separadas por espacio**
  - Ejemplos: `Nombre escuela`, `notas estudiantes`, etc.
- **Nombres de funciones de Python**
  - Ejemplos: `print`, `type`, etc.

> Las letras mayúsculas y minúsculas generarán diferentes variables. La variable `edad` es diferente de `Edad` que a su vez es diferente de `EDAD`:
``` Python
edad = 1
Edad = 2
EDAD = 3
_edad = 4
_edad_ = 5
print(edad, Edad, EDAD, _edad, _edad_)
1 2 3 4 5
```

## Tipos de variables

Cada variable contiene una clase específica con respecto al tipo de objeto al cual esta hace referencia. Estas clases serán diferentes de acuerdo con el tipo de dato que le sea atribuido a una variable.

Para conocer la clase de cada elemento usamos la función [`type()`](https://docs.python.org/3/library/functions.html#type)

In [ ]:
type(edad)

int

In [ ]:
promedio = 9.5

In [ ]:
type(promedio)

float

In [ ]:
nombre = "Gabriel"

In [ ]:
type (nombre)

str

In [ ]:
v = True
type(v)

bool

En un conjunto de datos escolares podemos tener varios tipos de informaciones. Supongamos que tenemos acceso a la ficha de datos del alumno *Penélope Camacho*, cómo transformamos este nombre en variables de Python?

#### Ficha:

- Nombre: Penélope Camacho
- Edad: 11 años
- Promedio del semestre: 9,75
- Situación de aprobación: Verdadera (aprobado)

In [ ]:
nombre_estudiante = "Penélope Camacho"
edad_estudiante = 11
promedio_estudiante = 9.75
aprobado_estudiante = True

In [ ]:
print(type(nombre_estudiante),type(edad_estudiante),type(promedio_estudiante),type(aprobado_estudiante))

<class 'str'> <class 'int'> <class 'float'> <class 'bool'>

## Variables numéricas

Entre los tipos de datos numéricos vamos a enfocarnos en los tipos `entero` y `float`.

Tenemos una tabla de información sobre los diversos cargos, cantidad de personas empleadas y el salario correspondiente:

|Cargo | Cantidad | Salario|
|---|---|---|
|Vigilante | 5 | 300 |
|Docente | 16| 500|
|Coordinador| 2 |600|

Necesitamos trabajar con estos datos para obtener:

- La cantidad total de empleados;
- La diferencia entre el salario más bajo y más alto; y
- El promedio ponderado de los salarios de los empleados de la escuela.

In [ ]:
c_vigilante = 5
s_vigilante = 300

c_docente = 16
s_docente = 500

c_coordinador = 2
s_coordinador = 600

In [ ]:
total_empleados = c_vigilante + c_docente + c_coordinador
total_empleados

23

In [ ]:
diferencia_salario = s_coordinador - s_vigilante
diferencia_salario

300

In [ ]:
promedio_salarios = (s_vigilante * c_vigilante + s_docente * c_docente + s_coordinador * c_coordinador) / total_empleados

In [ ]:
promedio_salarios

465.2173913043478

In [ ]:
type(promedio_salarios)

float

## Strings

Strings hace referencia a un conjunto de caracteres formando un texto.

Podemos crear Strings cuando atribuimos un dato a una variable entre comillas sencillas (`'`) o comillas dobles (`"`).

In [ ]:
t = "Alura"
type(t)

str

Las variables textuales son objetos que poseen métodos que nos ayudan a formatear strings. Los métodos los podemos ejecutar al definir un objeto de acuerdo con la siguiente estructura:

```
objeto.metodo()
```

Existen métodos que no necesitan los `()`, siempre es una buena práctica verificar la documentación para cada caso.

---
**Situación:**

Recibimos una variable con el nombre de una profesora de la escuela para añadirla a los registros. Sin embargo, necesitamos darle un tratamiento a este texto antes de insertarlo al sistema.

In [ ]:
texto = '  Micaela de los Sanyos '

El objetivo final es que el nombre aparezca de la siguiente forma:

```
'MICAELA DE LOS SANTOS'
```

### [`str.upper()` ](https://docs.python.org/3/library/stdtypes.html#str.upper)
Convierte una string a mayúsculas.

In [ ]:
texto.upper()

'  MICAELA DE LOS SANYOS '

### [`str.lower()`](https://docs.python.org/3/library/stdtypes.html#str.lower)
Convierte una string a minúsculas.

In [ ]:
texto.lower()

'  micaela de los sanyos '

### [`str.strip()`](https://docs.python.org/3/library/stdtypes.html#str.strip)
Elimina los espacios en blanco al inicio y al final de una string.

In [ ]:
texto.strip()

'Micaela de los Sanyos'

### [`str.replace(antiguo, nuevo)`](https://docs.python.org/3/library/stdtypes.html#str.replace)

Sustituye todas las ocurrencias del texto "antiguo" en la string por el  "nuevo".

In [ ]:
texto.replace('y','t')

'  Micaela de los Santos '

In [ ]:
texto

'  Micaela de los Sanyos '

In [ ]:
id(texto)

TypeError: 'str' object is not callable

### Observaciones

1. Los métodos devuelven una **tranformación**, no son ejecutados directamente sobre la variable donde está almacenado el texto.

2. Adicionalmente, podemos acumular la ejecución de los métodos.

Para que la transformación se pueda ejecutar debemos atribuir la salida de las transformaciones a las variables

In [ ]:
nuevo_texto = texto.strip().replace('y','t').upper()
print(nuevo_texto)

MICAELA DE LOS SANTOS

In [ ]:
print(id(nuevo_texto))

138719085950368

In [ ]:
del id

In [ ]:
print(type(id))

<class 'builtin_function_or_method'>

## Capturando datos

En algunas aplicaciones necesitamos capturar los valores del usuario de nuestro proyecto. En python, logramos capturar los datos del usuario a través del comando [`input()`](https://docs.python.org/3/library/functions.html#input).

Para ejecutar la captura debemos atribuir el resultado de esta función a una variable.

In [ ]:
nombre = input("ingrese su nombre: ")

ingrese su nombre: gabo

La salida de este comando siempre será una *string*. Esto quiere decir que aunque capturemos un valor de variable numérica, este será de tipo string.

Entonces, será necesario **convertir el resultado cuando no se desea utilizar el valor como tipo string**.

Existen funciones para la conversión de valores:

- Enteros: [`int(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#int)
- Coma flotante: [`float(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#float)
- String: [`str(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#func-str)
- Booleano: [`bool(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#bool)

In [ ]:
año_admision = input("Digite año de admisión: ")

Digite año de admisión: 2020

In [ ]:
type(año_admision)

str

In [ ]:
año_admision = int(input("Digite año de admisión: "))

Digite año de admisión: 2020

In [ ]:
type(año_admision)

int

In [ ]:
nota_admision = float(input("Digite nota de admision:  "))

Digite nota de admision:  6.5

In [ ]:
type(nota_admision)

float

Trataremos de representar mejor ahora el resultado de la transformación que obtuvimos. Nosotros podemos formatear y presentar nuestro resultado mezclando strings con valores no textuales.

Para ello utilizamos la estructura de formatación `f` con strings.

In [ ]:
print(f'\tEl año de admision fue: {año_admision}\n\t La nota de admision fue: {nota_admision}')

	El año de admision fue: 2020
	 La nota de admision fue: 6.5

In [ ]:
chr(64)

'@'

In [ ]:
chr(72) + chr(111) +  chr(108) + chr(97)

'Hola'

In [ ]:
nombre = "Ana María"
edad = 17
print(f"El nombre de la alumna es {nombre} y su edad es {edad} años.")

El nombre de la alumna es Ana María y su edad es 17 años.

In [ ]:
nombre_alumno = 'Penélope Camacho'
print('Nombre del alumno: %s' %(nombre_alumno))

Nombre del alumno: Penélope Camacho

In [ ]:
nombre_alumno = 'Penélope Camacho'
edad_alumno = 11
media_alumno = 9.95
print('Nombre del alumno es %s, tiene %d años y su media es %f.' %(nombre_alumno, edad_alumno, media_alumno))

Nombre del alumno es Penélope Camacho, tiene 11 años y su media es 9.950000.

In [ ]:
print('Nombre del alumno es %s, tiene %d años y su media es %.2f.' %(nombre_alumno, edad_alumno, media_alumno))

Nombre del alumno es Penélope Camacho, tiene 11 años y su media es 9.95.

In [ ]:
x = True
print("Valor de x: %s" % str(x))

Valor de x: True

In [ ]:
nombre_alumno = 'Penélope Camacho'
print('Nombre del alumno: {}'.format(nombre_alumno))

Nombre del alumno: Penélope Camacho

In [ ]:
nombre_alumno = 'Fabricio Daniel'
edad_alumno = 15
media_alumno = 9.95
print('Nombre del alumno es {}, tiene {} años y su media es {}.' .format(nombre_alumno, edad_alumno, media_alumno))

Nombre del alumno es Fabricio Daniel, tiene 15 años y su media es 9.95.

In [ ]:
print("Estudiar es un esfuerzo constante,\nEs como cultivar una planta,\nNecesitamos dedicación y paciencia,\nPara ver madurar el fruto.")

Estudiar es un esfuerzo constante,
Es como cultivar una planta,
Necesitamos dedicación y paciencia,
Para ver madurar el fruto.

In [ ]:
print('Cantidad\tCalidad\n5 muestras\tAlta\n3 muestras\tBaja')

Cantidad	Calidad
5 muestras	Alta
3 muestras	Baja

In [ ]:
print("Ruta del archivo: C:\\archivos\\documento.csv")

Ruta del archivo: C:\archivos\documento.csv

In [ ]:
print("Una vez oí: \"Los frutos del conocimiento son los más dulces y duraderos de todos.\"")

Una vez oí: "Los frutos del conocimiento son los más dulces y duraderos de todos."

In [ ]:
print('Mi profesora una vez dijo: \'Estudiar es la clave del éxito.\'')

Mi profesora una vez dijo: 'Estudiar es la clave del éxito.'

In [ ]:
nombre

In [ ]:
nombre = input("Digite su nombre: ")
print(f"Hola {nombre}!")

Digite su nombre: gabriel
Hola gabriel!

In [ ]:
nombre= input("Digite su nombre: ")
edad =  input("Digite su edad: ")
print(f"Hola {nombre}! Tienes {edad} años.")

Digite su nombre: gabo
Digite su edad: 55
Hola gabo! Tienes 55 años.

In [ ]:
nombre = input("Digite su nombre: ")
edad = int(input("Digite su edad: "))
altura = float(input("Digite su altura: "))
print(f"Hola {nombre}! Tienes {edad} años y mides {altura}")

Digite su nombre: gabo
Digite su edad: 55
Digite su altura: 1.70
Hola gabo! Tienes 55 años y mides 1.7

In [ ]:
numero1 = input("Digite un número: ")
numero2 = input("Digite otro número: ")
suma = int(numero1) + int(numero2)
print(f"La suma de {numero1} y {numero2} es {suma}")

Digite un número: 23
Digite otro número: 55
La suma de 23 y 55 es 78

In [ ]:
numero1 = int(input("Digite un número: "))
numero2 = int(input("Digite otro número: "))
numero3 = int(input("Digite otro número: "))
suma = numero1 + numero2 + numero3
print(f"La suma de {numero1}, {numero2} y {numero3}  es {suma}")

Digite un número: 42
Digite otro número: 34
Digite otro número: 25
La suma de 42, 34 y 25  es 101

In [ ]:
num1 = int(input("Digite un número: "))
num2 = int(input("Digite otro número: "))
resta = num1  - num2
print(f"La resta de {num1} y {num2} es {resta}")

Digite un número: 56
Digite otro número: 23
La resta de 56 y 23 es 33

In [ ]:
nu1 = int(input("Digite un número: "))
nu2 = int(input("Digite otro número: "))
multi = nu1 * nu2
print(f"La multiplicación de {nu1} y {nu2} es {multi}")

Digite un número: 23
Digite otro número: 23
La multiplicación de 23 y 23 es 529

In [ ]:
num1 = int(input("Digite un número: "))
num2 = int(input("Digite otro número: "))
divi = num1 / num2
print(f"La división de {num1} y {num2} es {divi}")

Digite un número: 25
Digite otro número: 5
La división de 25 y 5 es 5.0

In [ ]:
num1 = int(input("Digite un número: "))
num2 = int(input("Digite otro número: "))
potencia  = num1** num2
print(f"La potencia de {num1} y {num2} es {potencia}")

Digite un número: 2
Digite otro número: 3
La potencia de 2 y 3 es 8

In [ ]:
nota1 = float(input("Digite la nota 1: "))
nota2 = float(input("Digite la nota 2: "))
nota3 = float(input("Digite la nota 3: "))
promedio = (nota1 + nota2 + nota3) / 3
print(f"El promedio de las notas {nota1}, {nota2} y {nota3} es {promedio}")

Digite la nota 1: 3.5
Digite la nota 2: 4.5
Digite la nota 3: 5.1
El promedio de las notas 3.5, 4.5 y 5.1 es 4.366666666666666

In [ ]:
media_ponderada = (5*1 + 12*2 + 20*3 + 15*4) / (1+2+3+4)
print(f'Media {media_ponderada}.')

Media 14.9.

In [ ]:
frase = '¡Hola Python!'
print(frase)

¡Hola Python!

In [ ]:
frase = input('Escribe una frase: ')
print(frase)

Escribe una frase: hola a todos¡¡
hola a todos¡¡

In [ ]:
frase = input('Escribe una frase: ')
print(frase.upper())

Escribe una frase: ¡hola a todos¡¡
¡HOLA A TODOS¡¡

In [ ]:
frase = ' ¡Hola soy gabo! '
print(frase.strip())

¡Hola soy gabo!

In [ ]:
frase = input('Escribe una frase: ')
print(frase.strip())

Escribe una frase:     soy    gabo   ¡¡¡¡
soy    gabo   ¡¡¡¡

In [ ]:
frase = input('Escribe una frase: ')
print(frase.upper())

Escribe una frase: hola soy gabo
HOLA SOY GABO

In [ ]:
frase = input('Escribe una frase: ')
print(frase.lower())

Escribe una frase: HOLA SOY GABO
hola soy gabo

In [ ]:
frase = ' ¡Hola Python! '
print(frase.strip())

¡Hola Python!

In [ ]:
frase = input('Escribe una frase: ')
print(frase.strip())

Escribe una frase:     ¡¡¡¡         hola soy gabo
¡¡¡¡         hola soy gabo

In [ ]:
frase = input('Escribe una frase: ')
print(frase.strip().lower())

Escribe una frase:        HOLA SOY GABO
hola soy gabo

In [ ]:
frase = input('Escribe una frase: ')
print(frase.lower().replace('e','f'))

Escribe una frase: Hola soy Erida
hola soy frida

In [ ]:
frase = input('Escribe una frase: ')
print(frase.lower().replace('a',chr(64)))

Escribe una frase: AGMail
@gm@il

In [ ]:
frase = input('Escribe una frase: ')
print(frase.lower().replace('s',chr(36)))

Escribe una frase: Sendero
$endero

# Estructuras condicionales

In [ ]:
#Nota de aproacion entre 7 y 10  == nota de aprobacion >=7
#Nota de reprobacion es menor a 7 == nota e reprobacion < 7

"""
Si la nota es mayor o igual a 7 entonces el estudiante aprueba
sino entonces el estudiante reprueba
"""

'\nSi la nota es mayor o igual a 7 entonces el estudiante aprueba\nsino entonces el estudiante reprueba\n'

## `IF` y `ELSE`

Los comandos `if` y `else` son dos estructuras condicionales. El comando `if` ejecutará el bloque de comandos en caso de que la condición citada sea  **verdadera**. El comando `else` ejecutará el bloque de comandos en el caso de que la condicional de `if` sea **falsa**.

El comando `if` es una palabra clave en Python que significa "si". Este se emplea para conformar la estructura condicional, que te permite verificar si una determinada condición es verdadera o falsa e, inmediatamente después, ejecute un bloque de código específico dependiendo del resultado de la verificación. La sintaxis para usar el comando `if` es:



```
if condicion:
    # Realiza algo
```

In [ ]:
if 2 < 7:
   print('La condicion es verdadero')

La condicion es verdadero

In [ ]:
if 2 > 7:
   print('La condicion es verdadero')
   print("fin de la consulta")

Ya el comando `else` en Python se usa en junción con la palabra clave `if` para formar una estructura condicional. la sintaxis para usar el `else` es:

```
if condicion:
  # codigo en caso de que sea verdad
else:
  # codigo en caso de que sea falso
```

el comando `else` se ejecuta cuando la condición verificada por el `if` es evaluada como `False`.

In [ ]:
if 2 > 7:
   print('La condicion es verdadero')
else:
   print('La conducion es falsa')

La conducion es falsa

In [ ]:
if 2 < 7:
   print('La condicion es verdadero')
else:
   print('La conducion es falsa')

La condicion es verdadero

---
**Situación:**

Recibiremos el promedio de la nota de los estudiantes y necesitamos de un algoritmo que ejecute el análisis y determine si el estudiante fue **Aprobado** o **Reprobado**, mostrando un mensaje del resultado. Para ser aprobado, el promedio necesita ser igual o superior a 7.0.

In [ ]:
nota = float(input('Ingrese la nota del estudiante: '))

if nota >= 7.0:
  print('El estudiante fue aprobado.')
if 7 > nota > nota  >=  5:
  print("Recuperacion")
if nota < 5 :
  print('El estudiante fue reprobado.')

Ingrese la nota del estudiante: 8
El estudiante fue aprobado.

Ahora, nuestra institución educativa estableció que las personas que tengan el promedio entre 5.0 y 7.0 pueden participar del curso de **Recuperación** durante las vacaciones para lograr aprobar.

Entonces podemos apoyarnos en un conjunto de `if`s para poder estructurar esta nueva condición.

In [ ]:
nota = float(input('Ingrese la nota del estudiante: '))

if nota >= 7.0:
  print('El estudiante fue aprobado.')
else:
  print('El estudiante fue reprobado.')

In [ ]:
edad_maria = int(input('Ingrese la edad de María: '))
edad_beatriz = int(input('Ingrese la edad de Beatriz: '))

if edad_maria > edad_beatriz:
  print('María es mayor que Beatriz.')

Ingrese la edad de María: 65
Ingrese la edad de Beatriz: 55
María es mayor que Beatriz.

In [ ]:
edad_maria = int(input('Ingrese la edad de María: '))
edad_beatriz = int(input('Ingrese la edad de Beatriz: '))

if edad_maria < edad_beatriz:
  print('María es menor que Beatriz.')

Ingrese la edad de María: 55
Ingrese la edad de Beatriz: 65
María es menor que Beatriz.

In [ ]:
empleados_empresa_1 = int(input('Ingrese la cantidad de empleados de la empresa 1: '))
empleados_empresa_2 = int(input('Ingrese la cantidad de empleados de la empresa 2: '))

if empleados_empresa_1 >= empleados_empresa_2:
  print('La empresa 1 tiene una cantidad de empleados mayor o igual a la empresa 2.')

Ingrese la cantidad de empleados de la empresa 1: 500
Ingrese la cantidad de empleados de la empresa 2: 300
La empresa 1 tiene una cantidad de empleados mayor o igual a la empresa 2.

In [ ]:
empleados_empresa_1 = int(input('Ingrese la cantidad de empleados de la empresa 1: '))
empleados_empresa_2 = int(input('Ingrese la cantidad de empleados de la empresa 2: '))

if empleados_empresa_1 >= empleados_empresa_2:
  print('La empresa 1 tiene una cantidad de empleados mayor o igual a la empresa 2.')

Ingrese la cantidad de empleados de la empresa 1: 300
Ingrese la cantidad de empleados de la empresa 2: 300
La empresa 1 tiene una cantidad de empleados mayor o igual a la empresa 2.

In [ ]:
empleados_empresa_1 = int(input('Ingrese la cantidad de empleados de la empresa 1: '))
empleados_empresa_2 = int(input('Ingrese la cantidad de empleados de la empresa 2: '))

if empleados_empresa_1 <= empleados_empresa_2:
  print('La empresa 1 tiene una cantidad de empleados menor o igual a la empresa 2.')

Ingrese la cantidad de empleados de la empresa 1: 300
Ingrese la cantidad de empleados de la empresa 2: 350
La empresa 1 tiene una cantidad de empleados menor o igual a la empresa 2.

In [ ]:
libro_1 = input('Ingrese el título del 1° libro: ')
libro_2 = input('Ingrese el título del 2° libro: ')

if libro_1 == libro_2:
  print('Los libros tienen el mismo título.')

Ingrese el título del 1° libro: solos
Ingrese el título del 2° libro: solos
Los libros tienen el mismo título.

In [ ]:
libro_1 = input('Ingrese el título del 1° libro: ')
libro_2 = input('Ingrese el título del 2° libro: ')

if libro_1 != libro_2:
  print('Los libros tienen títulos diferentes.')

Ingrese el título del 1° libro: Solos
Ingrese el título del 2° libro: solos
Los libros tienen títulos diferentes.

Observa que en casos con 3 situaciones como este necesitamos definir bien nuestras condiciones. Pues, si realizamos una condición con `else` al final, este irá a considerar solamente la condición `if` inmediatamente anterior para generar la salida en caso de que el resultado de su operación lógica sea **falso** dando como resultado, dos o más ejecuciones.

Por ejemplo:

## `ELIF`

El comando `elif` es una palabra clave en Python que significa "si no, si" y lo podemos considerar una *contracción* entre `else` e `if`. Se utiliza en conjunto con la palabra clave `if` para formar una estructura condicional en cadena.

la sintaxis para utilizar el comando `elif` es:

```
if condicion1:
    # Realiza algo
elif condicion2:
    # Realiza otra cosa
elif condicion3:
    # Realiza otra cosa
else:
    # Realiza algo diferente
```

El comando `elif` permite que puedas verificar varias condiciones en cadena, economizando espacio en tu código. Si la primera condición se evalúa como `False`, el interpretador de Python evaluará la próxima condición con el `elif`. Ello continuará hasta que una condición sea evaluada como `True` o hasta que el `else` sea alcazado. Si ninguna de las condiciones es evaluada como `True`, la ejecución del código del comando `else` será iniciada.

Vamos a emplear el mismo caso anterior:

In [ ]:
nota = float(input('Ingrese la nota del estudiante: '))

if nota >= 7.0:
  print('El estudiante fue aprobado.')
elif  7 > nota >=  5:
  print('Recuperacion')
else:
  print('El estudiante fue reprobado.')

Ingrese la nota del estudiante: 4
El estudiante fue reprobado.

## Operadores

Durante la construcción de comandos a veces necesitamos de una elaboración mayor de la expresión condicional, necesitando que algunos operadores lógicos se encuentren integrados.

### `AND`, `OR`, `NOT`

Los operadores lógicos `and`, `or` y `not` son usados para combinar expresiones lógicas en Python. Ellos son usados frecuentemente en conjunto con el comando `if` para crear estructuras condicionales más complejas.

- `AND` es usado para verificar si dos condiciones son verdaderas. La expresión lógica¹ `x and y` se evalúa como `True` tan solo si **ambas condiciones `x` y `y` son verdaderas**, y como `False` en caso contrario.

- `OR` es usado para verificar si al menos una de las condiciones es verdadera. La expresión lógica `x or y` se evalúa como `True` **si al menos una de las condiciones `x` o `y` es verdadera**, y como `False` si ambas condiciones son falsas.

- `NOT` es usado para **negar una condición**. La expresión lógica `not x` es evaluada como `True` si la condición x es falsa, y como `False` si la condición x es verdadera.

¹ Una expresión lógica es una declaración que puede ser evaluada como verdadera o falsa. Ella se compone por operandos lógicos² y por operadores lógicos³, que son usados ​​para combinar varias expresiones lógicas en una única expresión.

² Los operandos lógicos son los elementos que son comparados o evaluados en una expresión lógica. Ellos son generalmente valores verdaderos o falsos, pero también pueden ser expresiones lógicas más complejas. En Python, los operandos lógicos son los valores `True` y `False`.

³ Los operadores lógicos son ls símbolos o palabras clave que son usados ​​para combinar varias expresiones lógicas en una única expresión. En Python, los operadores lógicos son `and`, `or` y `not`, bien como las palabras clave `if`, `elif` e `else`.

> Operadores lógicos más comunes

|a|b|AND|OR|NOT|
|-|-|-|-|-|
|0|0|0|0|1
|0|1|0|1|-
|1|0|0|1|-
|1|1|1|1|0

In [ ]:
v = True
f = False
if f and f:
  print('Verdadero')
else:
  print('Falso')

Falso

In [ ]:
v = True
f = False
if v or f:
  print('Verdadero')
else:
  print('Falso')

Verdadero

In [ ]:
v = True
f = False
if not f:
  print('Verdadero')
else:
  print('Falso')

Verdadero

### `IN`

Es usado para verificar si un elemento está presente en una lista, tupla u otra colección de conjunto. La expresión `x in y` se evalúa como `True` si el elemento `x` esta presente na variávelen la variable de conjunto `y`, y como `False` en caso contrario.

Podemos verificarlo con variables de texto.

---

**Situación:**

En la escuela nos entregaron una lista con nombres de estudiantes que fueron aprobados según el promedio del semestre, pero es necesario verificar si algunos nombres están en esa lista para confirmar que los datos estén correctos.

La lista distribuida puede ser observada a continuación:

```
lista = 'Juan Pérez, María González, Pedro Rodríguez, Ana López, Carlos Martínez,
    Laura Sánchez, José García, Elena Fernández, Luis Morales, Carmen Torres,
    David Ruiz, Isabel Ramírez, Javier Díaz, Sara Herrera, Miguel Castro,
    Patricia Ortega, Francisco Vargas, Marta Jiménez, Manuel Medina, Rosa Molina,
    Alejandro Silva, Silvia Ruiz, Andrés Torres, Natalia Soto, Diego Guerrero,
    Paula Ríos, Ricardo Navarro, Alicia Cordero, Carlos Vidal, Lorena Gómez'
```

Los nombres que necesitas verificar son los siguientes:

```
nombre_1 = 'Miguel Castro'
nombre_2 = 'Marcelo Noguera'
```

In [ ]:

lista = ['Juan Pérez', 'María González', 'Pedro Rodríguez', 'Ana López', 'Carlos Martínez',
    'Laura Sánchez', 'José García', 'Elena Fernández', 'Luis Morales', 'Carmen Torres',
    'David Ruiz', 'Isabel Ramírez', 'Javier Díaz', 'Sara Herrera', 'Miguel Castro',
    'Patricia Ortega', 'Francisco Vargas', 'Marta Jiménez', 'Manuel Medina', 'Rosa Molina',
    'Alejandro Silva', 'Silvia Ruiz', 'Andrés Torres', 'Natalia Soto', 'Diego Guerrero',
    'Paula Ríos', 'Ricardo Navarro', 'Alicia Cordero', 'Carlos Vidal', 'Lorena Gómez']

nombre_1 ='Miguel Castro'
nombre_2 = 'Marcelo Noguera'

if nombre_1 in lista:
  print('El estudiante aprobo')
else:
   print('El estudiante reprobo')

El estudiante aprobo

In [ ]:
if nombre_2 in lista:
  print('El estudiante aprobo')
else:
   print('El estudiante reprobo')

El estudiante reprobo

EJERCICIO DE CONDICIONALES

In [ ]:
#identificamos si un numero es mayor , menor o igual que otro numero
num1= int(input('Digite un numero: '))
num2= int(input('Digite un numero: '))

if num1> num2:
 print(f'El primer numero es mayor:{num1}')
elif num2>num1:
  print(f' El segundo es mayor : {num2}')
else:
  print('Ambos son iguales')

Digite un numero: 6
Digite un numero: 8
 El segundo es mayor : 8

In [ ]:
# Recolectamos el porcentaje

variación = float(input('Ingrese el porcentaje de crecimiento: '))

# Verificamos si el valor es positivo o negativo con una comparación para ver si el número
# es mayor o menor que 0

if variación > 0:
    print(f'Hubo un crecimiento del {variación}%')
elif variación < 0:
    print(f'Hubo un decrecimiento del {variación}%')
else:
    print('No hubo crecimiento ni decrecimiento.')

Ingrese el porcentaje de crecimiento: -23
Hubo un decrecimiento del -23.0%

In [ ]:
# identificamos si es vocal o consonante
# Recolectamos la letra del usuario en minúsculas
letra = input('Ingrese una letra: ').lower()
vocales = 'aeiou' # cadena que contiene todas las vocales
# Verificamos si la letra está en las vocales con `in`
if letra in vocales:
    print('La letra es una vocal.')
else:
    print('La letra es una consonante.')

Ingrese una letra: c
La letra es una consonante.

In [ ]:
#Buscamos el precio mas alto y el mas bajo
# Recolectamos los precios de los 3 años
precio_ano1 = float(input('Ingrese el precio promedio del automóvil en el primer año: '))
precio_ano2 = float(input('Ingrese el precio promedio del automóvil en el segundo año: '))
precio_ano3 = float(input('Ingrese el precio promedio del automóvil en el tercer año: '))
# Determinamos el valor más alto mediante comparaciones
mayor = precio_ano1
if precio_ano2 > mayor:
  mayor = precio_ano2
if precio_ano3 > mayor:
  mayor = precio_ano3
# Determinamos el valor más bajo mediante comparaciones
menor = precio_ano1
if precio_ano2 < menor:
  menor = precio_ano2
if precio_ano3 < menor:
  menor = precio_ano3
# Mostramos los resultados
print(f'El precio más alto fue de R$ {mayor}.')
print(f'El precio más bajo fue de R$ {menor}.')

Ingrese el precio promedio del automóvil en el primer año: 25
Ingrese el precio promedio del automóvil en el segundo año: 22
Ingrese el precio promedio del automóvil en el tercer año: 21
El precio más alto fue de R$ 25.0.
El precio más bajo fue de R$ 21.0.

In [ ]:
#buscamos cual es el prducto mas barato
producto1 = float(input('Ingrese el precio del primer producto: '))
producto2 = float(input('Ingrese el precio del segundo producto: '))
producto3 = float(input('Ingrese el precio del tercer producto: '))

if producto1 < producto2 and producto1 < producto3:
  print('El primer producto es el más barato.')
elif producto2 < producto1 and producto2 < producto3:
  print('El segundo producto es el más barato.')
else:
  print('El tercer producto es el mas barato')

Ingrese el precio del primer producto: 30
Ingrese el precio del segundo producto: 31
Ingrese el precio del tercer producto: 32
El primer producto es el más barato.

In [ ]:
#Buscar el valor en orden descedente de unos numeros.
# Recolectamos los 3 números
num1 = int(input('Ingrese el primer número: '))
num2 = int(input('Ingrese el segundo número: '))
num3 = int(input('Ingrese el tercer número: '))

# Comparación entre los 3 números
if (num1 >= num2) and (num1 >= num3):
    print(num1)
    if num2 >= num3:
        print(num2)
        print(num3)
    else:
        print(num3)
        print(num2)
elif (num2 >= num1) and (num2 >= num3):
    print(num2)
    if num1 >= num3:
        print(num1)
        print(num3)
    else:
        print(num3)
        print(num1)
else:
    print(num3)
    if num1 >= num2:
        print(num1)
        print(num2)
    else:
        print(num2)
        print(num1)

Ingrese el primer número: 55
Ingrese el segundo número: 45
Ingrese el tercer número: 35
55
45
35

In [ ]:
###Escribe un programa que pregunte en qué turno estudia la persona usuaria ("mañana", "tarde" o "noche") y
##muestre el mensaje "¡Buenos Días!", "¡Buenas Tardes!", "¡Buenas Noches!" o "Valor Inválido!", según el caso.

turno = input('Ingresa en qué turno estudias (mañana, tarde o noche): ')

if turno == 'mañana':
  print('¡Buenos Días!')
elif turno == 'tarde':
  print('¡Buenas Tardes!')
elif turno == 'noche':
  print('¡Buenas Noches!')
else:
  print('Valor Inválido!')

Ingresa en qué turno estudias (mañana, tarde o noche): noche
¡Buenas Noches!

In [ ]:
#Escribe un programa que solicite un número entero a la persona usuaria y determine si es par o impar.
## Pista: Puedes usar el operador módulo (%).

num_ent = int(input('Ingrese un número entero: '))
if num_ent % 2 == 0:
   print('El número es par.')
else:
   print('El número es impar.')

Ingrese un número entero: 7
El número es impar.

In [ ]:
# - Escribe un programa que pida un número a la persona usuaria y le informe si es entero o decimal

num = float(input('Ingrese un número: '))
if num %1 == 0 :
  print('El número es entero.')
else:
  print('El número es decimal.')

Ingrese un número: 6
El número es entero.

In [ ]:
#Un programa debe ser escrito para leer dos números y luego preguntar a la persona usuaria qué operación desea realizar.
##El resultado de la operación debe incluir información sobre el número, si es par o impar, positivo o negativo, e entero o decimal.

num1 = float(input('Ingrese el primer número: '))
num2 = float(input('Ingrese el segundo número: '))
operacion = input('Ingrese la operación que desea realizar (+, -, *, /): ')

if operacion == '+':
   resultado = num1 + num2
   print(f'El resultado de la suma es: {resultado}')
elif operacion == '-':
   resultado = num1 - num2
   print(f'El resultado de la resta es: {resultado}')
elif operacion == '*' :
  resultado = nu1 * num2
  print(f'El ressultado de la multiplicacion es{resultado} ')
elif operacion == '/':
   resultado = num1 / num2
   print(f'El resultado de la division es: {resultado}')
else:
   print('Operación inválida.')

if resultado % 1 == 0:
    print('El resultado es un número entero.')
else:
    print('El resultado es un número decimal.')

if resultado > 0:
    print('El resultado es positivo.')
else:
    print('El resultado es negativo.')

if resultado % 2 == 0:
    print('El resultado es un número par.')
else:
    print('El resultado es un número impar.')

Ingrese el primer número: 22
Ingrese el segundo número: 45
Ingrese la operación que desea realizar (+, -, *, /): +
El resultado de la suma es: 67.0
El resultado es un número entero.
El resultado es positivo.
El resultado es un número impar.

In [ ]:
#Escribe un programa que pida a la persona usuaria tres números que representan los lados de un triángulo.
#El programa debe informar si los valores pueden utilizarse para formar un triángulo y, en caso afirmativo,
#si es equilátero, isósceles o escaleno. Ten en cuenta algunas sugerencias:

#Tres lados forman un triángulo cuando la suma de cualesquiera dos lados es mayor que el tercero;
#riángulo Equilátero: tres lados iguales;
#Triángulo Isósceles: dos lados iguales;
#Triángulo Escaleno: tres lados diferentes.

num1 = float(input('Ingrese el primer lado del triángulo: '))
num2 = float(input('Ingrese el segundo lado del triángulo: '))
num3 = float(input('Ingrese el tercer lado del triángulo: '))

if num1 + num2 > num3 and num1 + num3 > num2 and num2 + num3 > num1:
  print('Se puede formar un triángulo.')

  if num1 == num2 == num3:
    print('El triángulo es equilátero.')
  elif num1 != num2 or num1 != num3 or num2 != num3:
    print('El triángulo es isósceles.')
  else:
    print('El triangulo es escaleno')

Ingrese el primer lado del triángulo: 3
Ingrese el segundo lado del triángulo: 4
Ingrese el tercer lado del triángulo: 5
Se puede formar un triángulo.
El triángulo es isósceles.

Un establecimiento está vendiendo combustibles con descuentos variables. Para el etanol, si la cantidad comprada es de hasta 15 litros, el descuento será del 2% por litro. En caso contrario, será del 4% por litro. Para el diésel, si la cantidad comprada es de hasta 15 litros, el descuento será del 3% por litro. En caso contrario, será del 5% por litro. El precio por litro de diésel es de R$ 2,00  y el  precio por litro de etanol  es de R$ 1,70. Escribe un programa que lea la cantidad de litros vendidos y el tipo de combustible (E para etanol y D para diésel) y calcule el valor a pagar por el cliente. Ten en cuenta algunas sugerencias:

El valor del descuento será el producto del precio por litro, la cantidad de litros y el valor del descuento.
El valor a pagar por un cliente será el resultado de la multiplicación del precio por litro por la cantidad de litros menos el valor del descuento resultante del cálculo.

In [ ]:
litros_vendidos_Diesel= float(input('Ingrese la cantidad de litros vendidos de Diesel: '))
litros_vendidos_Etanol= float(input('Ingrese la cantidad de litros vendidos de Etanol: '))

if litros_vendidos_Diesel <= 15:
  precio_litro_Diesel = 2.00
  descuento_Diesel = 0.03
  valor_descuento_Diesel = precio_litro_Diesel * litros_vendidos_Diesel * descuento_Diesel
  valor_a_pagar_Diesel = precio_litro_Diesel * litros_vendidos_Diesel - valor_descuento_Diesel
  print(f'El valor a pagar por el diesel (3% dcto) es: {valor_a_pagar_Diesel}')
else:
  precio_litro_Diesel = 2.00
  descuento_Diesel = 0.05
  valor_descuento_Diesel = precio_litro_Diesel * litros_vendidos_Diesel * descuento_Diesel
  valor_a_pagar_Diesel = precio_litro_Diesel * litros_vendidos_Diesel - valor_descuento_Diesel
  print(f'El valor a pagar por el diesel(5% dcto) es: {valor_a_pagar_Diesel}')

if litros_vendidos_Etanol <=15:
  precio_litro_Etanol = 1.70
  descuento_Etanol = 0.02
  valor_descuento_Etanol = precio_litro_Etanol * litros_vendidos_Etanol * descuento_Etanol
  valor_a_pagar_Etanol = precio_litro_Etanol * litros_vendidos_Etanol - valor_descuento_Etanol
  print(f'El valor a pagar por el etanol(2% dcto) es: {valor_a_pagar_Etanol}')
else:
  precio_litro_Etanol = 1.70
  descuento_Diesel = 0.04
  valor_descuento_Etanol = precio_litro_Etanol * litros_vendidos_Etanol * descuento_Etanol
  valor_a_pagar_Diesel = precio_litro_Etanol * litros_vendidos_Etanol - valor_descuento_Etanol
  print(f'El valor a pagar por el etanol (4% dcto) es: {valor_a_pagar_Etanol}')

Ingrese la cantidad de litros vendidos de Diesel: 10
Ingrese la cantidad de litros vendidos de Etanol: 10
El valor a pagar por el diesel (3% dcto) es: 19.4
El valor a pagar por el etanol(2% dcto) es: 16.66

En una empresa de venta de bienes raíces, debes crear un código que analice los datos de ventas anuales para ayudar a la dirección en la toma de decisiones. El código debe recopilar los datos de cantidad de ventas durante los años 2022 y 2023 y calcular la variación porcentual. A partir del valor de la variación, se deben proporcionar las siguientes sugerencias:

Para una variación superior al 20%: bonificación para el equipo de ventas.
Para una variación entre el 2% y el 20%: pequeña bonificación para el equipo de ventas.
Para una variación entre el 2% y el -10%: planificación de políticas de incentivo a las ventas.
Para bonificaciones inferiores al -10%: recorte de gastos.

In [ ]:
ventas_Año_2022= float(input('Ingrese la cantidad de ventas del año 2022: '))
ventas_Año_2023= float(input('Ingrese la cantidad de ventas del año 2023: '))

variacion_porcentual = (ventas_Año_2023 - ventas_Año_2022) / ventas_Año_2022 * 100

if variacion_porcentual > 20:
  print('Bonificación para el equipo de ventas')
elif 2 <= variacion_porcentual <= 20:
  print('Pequeña bonificación para el equipo de ventas')
elif -10 < variacion_porcentual <= 2:
  print('Planificación de políticas de incentivo a las ventas')
else:
  print('Recorte de gastos')

Ingrese la cantidad de ventas del año 2022: 100
Ingrese la cantidad de ventas del año 2023: 90
Recorte de gastos

# Estructuras de repetición

Cuando tenemos que ejecutar un mismo bloque de comandos durante varias ocasiones no es nada práctico hacerlo a mano.

**Situación**: Nos fue solicitado obtener e imprimir el promedio de 2 notas de **3 estudantes**:

Ahora imaginemos una situación en que no son tan solo 3 estudiantes, sino 100 estudiantes. No sería nada interesante repetir el mismo código 100 veces, sino **ejecutar el mismo código 100 veces**.

¡Esta estructura la logramos construir con lazos de repetición!

## `WHILE`

El lazo `while` es una estructura de control de repetición en Python que permite ejecutar un bloque de código repetidamente mientras que una determinada condición sea verdadera. Su estructura es:



```
while condicion:
    # bloque de codigo
```

Vamos a construir un ejemplo con un contador de 1 hasta 10.

In [ ]:
contador = 1
while contador <= 10:
  print(contador)
  contador = contador + 1

1
2
3
4
5
6
7
8
9
10

In [ ]:
contador = 1
while contador <= 10:
  print(contador)
  contador +=1

1
2
3
4
5
6
7
8
9
10

Ahora vamos a colectar las notas y promedios de cada alumno dentro del lazo `while`. Haremos un ejemplo con 3 promedios.

In [ ]:
contador = 1
while contador <= 2:
  nota1 = float(input('Ingrese la nota 1: '))
  nota2 = float(input('Ingrese la nota 2: '))
  print(f' El promedio del estudiante 1 es : {(nota1+nota2)/2}')
  contador +=1

Ingrese la nota 1: 5
Ingrese la nota 2: 6
 El promedio del estudiante 1 es : 5.5
Ingrese la nota 1: 7
Ingrese la nota 2: 8
 El promedio del estudiante 1 es : 7.5

## `FOR`

El lazo `for` es un tipo de estructura de control de flujo en Python que permite iterar sobre un conjunto de elementos. Su estructura es:



```
for elemento in conjunto:
    # codigo a ser ejecutado para cada elemento
```

El lazo `for` itera sobre cada elemento del conjunto especificado y ejecuta el bloque de código dentro del lazo para cada elemento. Cuando el lazo llega al final del conjunto, este se interrumpe y el programa continúa la ejecución después del lazo.

El conjunto lo podemos generar con la función incorporada [`range()`](https://docs.python.org/3/library/functions.html#func-range). Se trata de una función capaz de generar una secuencia de números enteros. La estructura de esta función es:

```
range(inicio, fin, paso)
```

Según la documentación, `range()` genera una secuencia de números enteros a partir del valor del parámetro `inicio` hasta el valor del parámetro `fin`, de acuerdo con el valor del parámetro `paso`. Si `inicio` no es especificado, el valor por defecto es `0`. Si `paso` no es especificado, el valor por defecto es `1`.

Vamos a recrear el mismo contador `while` con el lazo `for`.

In [ ]:
for n in  range(1,11):
    print(n)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for e in range(1,4):
  nota1 = float(input('Ingrese la nota 1: '))
  nota2 = float(input('Ingrese la nota 2: '))
  print(f' El promedio del estudiante 1 es : {(nota1+nota2)/2}')

Ingrese la nota 1: 5
Ingrese la nota 2: 6
 El promedio del estudiante 1 es : 5.5
Ingrese la nota 1: 7
Ingrese la nota 2: 8
 El promedio del estudiante 1 es : 7.5
Ingrese la nota 1: 5
Ingrese la nota 2: 7
 El promedio del estudiante 1 es : 6.0

EJERCICIOS DE WHILE Y FOR

In [ ]:
#1. Escribe un programa que solicite dos números enteros e imprima todos los números enteros entre ellos.
num_ent1 = int(input('Ingrese el primer número entero: '))
num_ent2 = int(input('Ingrese el segundo número entero: '))

for n in range(num_ent1 + 1, num_ent2):
  print(n)

Ingrese el primer número entero: 1
Ingrese el segundo número entero: 5
2
3
4

In [ ]:
#2 - Escribe un programa para calcular cuántos días tomará que la colonia de una bacteria A supere o iguale a la colonia de una bacteria B,
# basado en tasas de crecimiento del 3% y 1.5%, respectivamente. Supón que la colonia A comienza con 4 elementos y B con 10.

bact_A = 4
bact_B = 10
tasa_A = 0.03
tasa_B = 0.015
dias = 0

while bact_A <= bact_B:
  bact_A *= 1.03
  bact_B *= 1.015
  dias += 1
  print(f'Necesitará {dias} días para que la bacteria A supere a la bacteria B.')

Necesitará 1 días para que la bacteria A supere a la bacteria B.
Necesitará 2 días para que la bacteria A supere a la bacteria B.
Necesitará 3 días para que la bacteria A supere a la bacteria B.
Necesitará 4 días para que la bacteria A supere a la bacteria B.
Necesitará 5 días para que la bacteria A supere a la bacteria B.
Necesitará 6 días para que la bacteria A supere a la bacteria B.
Necesitará 7 días para que la bacteria A supere a la bacteria B.
Necesitará 8 días para que la bacteria A supere a la bacteria B.
Necesitará 9 días para que la bacteria A supere a la bacteria B.
Necesitará 10 días para que la bacteria A supere a la bacteria B.
Necesitará 11 días para que la bacteria A supere a la bacteria B.
Necesitará 12 días para que la bacteria A supere a la bacteria B.
Necesitará 13 días para que la bacteria A supere a la bacteria B.
Necesitará 14 días para que la bacteria A supere a la bacteria B.
Necesitará 15 días para que la bacteria A supere a la bacteria B.
Necesitará 16 días para que la bacteria A supere a la bacteria B.
Necesitará 17 días para que la bacteria A supere a la bacteria B.
Necesitará 18 días para que la bacteria A supere a la bacteria B.
Necesitará 19 días para que la bacteria A supere a la bacteria B.
Necesitará 20 días para que la bacteria A supere a la bacteria B.
Necesitará 21 días para que la bacteria A supere a la bacteria B.
Necesitará 22 días para que la bacteria A supere a la bacteria B.
Necesitará 23 días para que la bacteria A supere a la bacteria B.
Necesitará 24 días para que la bacteria A supere a la bacteria B.
Necesitará 25 días para que la bacteria A supere a la bacteria B.
Necesitará 26 días para que la bacteria A supere a la bacteria B.
Necesitará 27 días para que la bacteria A supere a la bacteria B.
Necesitará 28 días para que la bacteria A supere a la bacteria B.
Necesitará 29 días para que la bacteria A supere a la bacteria B.
Necesitará 30 días para que la bacteria A supere a la bacteria B.
Necesitará 31 días para que la bacteria A supere a la bacteria B.
Necesitará 32 días para que la bacteria A supere a la bacteria B.
Necesitará 33 días para que la bacteria A supere a la bacteria B.
Necesitará 34 días para que la bacteria A supere a la bacteria B.
Necesitará 35 días para que la bacteria A supere a la bacteria B.
Necesitará 36 días para que la bacteria A supere a la bacteria B.
Necesitará 37 días para que la bacteria A supere a la bacteria B.
Necesitará 38 días para que la bacteria A supere a la bacteria B.
Necesitará 39 días para que la bacteria A supere a la bacteria B.
Necesitará 40 días para que la bacteria A supere a la bacteria B.
Necesitará 41 días para que la bacteria A supere a la bacteria B.
Necesitará 42 días para que la bacteria A supere a la bacteria B.
Necesitará 43 días para que la bacteria A supere a la bacteria B.
Necesitará 44 días para que la bacteria A supere a la bacteria B.
Necesitará 45 días para que la bacteria A supere a la bacteria B.
Necesitará 46 días para que la bacteria A supere a la bacteria B.
Necesitará 47 días para que la bacteria A supere a la bacteria B.
Necesitará 48 días para que la bacteria A supere a la bacteria B.
Necesitará 49 días para que la bacteria A supere a la bacteria B.
Necesitará 50 días para que la bacteria A supere a la bacteria B.
Necesitará 51 días para que la bacteria A supere a la bacteria B.
Necesitará 52 días para que la bacteria A supere a la bacteria B.
Necesitará 53 días para que la bacteria A supere a la bacteria B.
Necesitará 54 días para que la bacteria A supere a la bacteria B.
Necesitará 55 días para que la bacteria A supere a la bacteria B.
Necesitará 56 días para que la bacteria A supere a la bacteria B.
Necesitará 57 días para que la bacteria A supere a la bacteria B.
Necesitará 58 días para que la bacteria A supere a la bacteria B.
Necesitará 59 días para que la bacteria A supere a la bacteria B.
Necesitará 60 días para que la bacteria A supere a la bacteria B.
Necesitará 61 días para que la bacteria A supere a la bacteria B.
Necesitará 62 días para que la bacteria A supere a la bacteria B.
Necesitará 63 días para que la bacteria A supere a la bacteria B.

In [61]:
#2 - Escribe un programa para calcular cuántos días tomará que la colonia de una bacteria A supere o iguale a la colonia de una bacteria B,
# basado en tasas de crecimiento del 3% y 1.5%, respectivamente. Supón que la colonia A comienza con 4 elementos y B con 10.

colonia_A = 4
colonia_B = 10
crecimiento_A = 0.03  # 3%
crecimiento_B = 0.015 # 1.5%
dias = 0

while colonia_A < colonia_B:
    colonia_A *= (1 + crecimiento_A)
    colonia_B *= (1 + crecimiento_B)
    dias += 1

print(f"Se necesitan {dias} días para que la colonia A iguale o supere a la colonia B.")
print(f"Tamaño final de colonia A: {colonia_A:.2f}")
print(f"Tamaño final de colonia B: {colonia_B:.2f}")

Se necesitan 63 días para que la colonia A iguale o supere a la colonia B.
Tamaño final de colonia A: 25.75
Tamaño final de colonia B: 25.55

In [65]:

colonia_A = 4
colonia_B = 10
crecimiento_A = 0.03
crecimiento_B = 0.015
dias = 0

while True:
    colonia_A *= (1 + crecimiento_A)
    colonia_B *= (1 + crecimiento_B)
    dias += 1

    if colonia_A >= colonia_B:
        break

print(f"Se necesitan {dias} días para que A iguale o supere a B.")
print(f"Tamaño final de colonia A: {colonia_A:.2f}")
print(f"Tamaño final de colonia B: {colonia_B:.2f}")

Se necesitan 63 días para que A iguale o supere a B.
Tamaño final de colonia A: 25.75
Tamaño final de colonia B: 25.55

In [ ]:
#3 - Para procesar una cantidad de 15 datos de evaluaciones de usuarios de un servicio de la empresa, necesitamos verificar si las calificaciones son válidas.
#Por lo tanto, escribe un programa que recibirá calificaciones del 0 al 5 y verificará si son valores válidos.
#Si se ingresa una calificación superior a 5 o inferior a 0, se repetirá hasta que el usuario ingrese un valor válido.

for i in range(15):
  nota = float(input(f'Ingresa la nota del usuario {i}: '))

  # Verifica si la nota está entre 0 y 5
  # Si no lo está, el bucle se repetirá hasta que se obtenga un valor válido
  while (nota < 0) or (nota > 5):
    nota = float(input(f'Nota no válida, ingresa nuevamente la nota del usuario {i}: '))

print('Verificación completa. Todas las notas son válidas.')
4

Ingresa la nota del usuario 0: 6
Nota no válida, ingresa nuevamente la nota del usuario 0: 4
Ingresa la nota del usuario 1: 4
Ingresa la nota del usuario 2: 5
Ingresa la nota del usuario 3: 5
Ingresa la nota del usuario 4: 5
Ingresa la nota del usuario 5: 5
Ingresa la nota del usuario 6: 5
Ingresa la nota del usuario 7: 5
Ingresa la nota del usuario 8: 5
Ingresa la nota del usuario 9: 4
Ingresa la nota del usuario 10: 4
Ingresa la nota del usuario 11: 4
Ingresa la nota del usuario 12: 3
Ingresa la nota del usuario 13: 1
Ingresa la nota del usuario 14: 5
Verificación completa. Todas las notas son válidas.

In [ ]:
#4 - Desarrolla un programa que lea un conjunto indefinido de temperaturas en grados Celsius y calcule su promedio.
# La lectura debe detenerse al ingresar el valor -273°C.

temperatura = float(input('Ingresa la temperatura en grados Celsius: '))
temperatura_total = 0
contador = 0

while temperatura != -273:
  temperatura_total += temperatura
  contador += 1
  temperatura = float(input('Ingresa la temperatura en grados Celsius: '))
  promedio = temperatura_total / contador

print(f'El promedio de las temperaturas es: {promedio}')

Ingresa la temperatura en grados Celsius: 34
Ingresa la temperatura en grados Celsius: 234
Ingresa la temperatura en grados Celsius: 273
Ingresa la temperatura en grados Celsius: -273
El promedio de las temperaturas es: 180.33333333333334

In [ ]:
#5 - Escribe un programa que calcule el factorial de un número entero proporcionado por el usuario.
#Recuerda que el factorial de un número entero es el producto de ese número por todos sus antecesores hasta llegar al número 1.
#Por ejemplo, el factorial de 5 es 5 x 4 x 3 x 2 x 1 = 120.

num = int(input('Ingresa un número entero: '))
factorial = 1
for i in range(1, num + 1):
  factorial *= i
print(f'El factorial de {num} es {factorial}')

Ingresa un número entero: 8
El factorial de 8 es 40320

In [ ]:
#6 - Escribe un programa que genere la tabla de multiplicar de un número entero del 1 al 10, según la elección del usuario.
#Como ejemplo, para el número 2, la tabla de multiplicar debe mostrarse en el siguiente formato:

numero = int(input('Ingresa un número entero: '))
for i in range(1, 11):
  print(f'{numero} x {i} = {numero * i}')

Ingresa un número entero: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
#7 - Los números primos tienen diversas aplicaciones en Ciencia de Datos, como en criptografía y seguridad.
#Un número primo es aquel que es divisible solo por sí mismo y por 1.
#Por lo tanto, crea un programa que solicite un número entero y determine si es un número primo o no.

numero = int(input('Ingresa un número entero: '))
if num>1:

  for i in range(2, numero):
    if numero % i == 0:
       print(f' {numero} no es un numero primo')
       break
  else:
    print(f'{numero} Es un número primo')

else:
  print(f'{numero} no es un número primo.')

Ingresa un número entero: 7
7 Es un número primo

In [ ]:
#8 - Vamos a comprender la distribución de edades de los pensionistas de una empresa de seguros.
#Escribe un programa que lea las edades de una cantidad no informada de clientes y muestre la distribución en los intervalos [0-25], [26-50], [51-75] y [76-100].
#La entrada de datos se detendrá al ingresar un número negativo.

edad = int(input('Ingresa la edad del pensionista: '))

contador_0_25 = 0
contador_26_50 = 0
contador_51_75 = 0
contador_76_100 = 0

while edad >= 0:
  if edad>= 0 and edad <= 25:
    contador_0_25 += 1
  if edad >= 26 and edad <= 50:
     contador_26_50 +=1
  if edad>= 51 and edad <= 75:
     contador_51_75 +=1
  if edad>= 51 and edad <= 75:
     contador_76_100 +=1
  edad = int(input('Ingresa la edad del pensionista: '))

  print('Distribución de edades:')
  print(f'[0-25]: {contador_0_25}')
  print(f'[26-50]: {contador_26_50}')
  print(f'[51-75]: {contador_51_75}')
  print(f'[76-100]: {contador_76_100}')

Ingresa la edad del pensionista: 75
Ingresa la edad del pensionista: 100
Distribución de edades:
[0-25]: 0
[26-50]: 0
[51-75]: 1
[76-100]: 1
Ingresa la edad del pensionista: 78
Distribución de edades:
[0-25]: 0
[26-50]: 0
[51-75]: 1
[76-100]: 1
Ingresa la edad del pensionista: 65
Distribución de edades:
[0-25]: 0
[26-50]: 0
[51-75]: 1
[76-100]: 1
Ingresa la edad del pensionista: 55
Distribución de edades:
[0-25]: 0
[26-50]: 0
[51-75]: 2
[76-100]: 2
Ingresa la edad del pensionista: 45
Distribución de edades:
[0-25]: 0
[26-50]: 0
[51-75]: 3
[76-100]: 3
Ingresa la edad del pensionista: 33
Distribución de edades:
[0-25]: 0
[26-50]: 1
[51-75]: 3
[76-100]: 3
Ingresa la edad del pensionista: 22
Distribución de edades:
[0-25]: 0
[26-50]: 2
[51-75]: 3
[76-100]: 3
Ingresa la edad del pensionista: -1
Distribución de edades:
[0-25]: 1
[26-50]: 2
[51-75]: 3
[76-100]: 3

In [ ]:
#9 - En una elección para la gerencia de una empresa con 20 empleados, hay cuatro candidatos. Escribe un programa que calcule al ganador de la elección.
#La votación se realizó de la siguiente manera: Cada empleado votó por uno de los cuatro candidatos (representados por los números 1, 2, 3 y 4).
#También se contaron los votos nulos (representados por el número 5) y los votos en blanco (representados por el número 6).
#Al final de la votación, el programa debe mostrar el número total de votos para cada candidato, los votos nulos y los votos en blanco.
#Además, debe calcular y mostrar el porcentaje de votos nulos con respecto al total de votos y el porcentaje de votos en blanco con respecto al total de votos.

candidato_1=0
candidato_2=0
candidato_3=0
candidato_4=0
votos_nulos=0
votos_en_blanco=0

for i in range (0,10):
   voto = int(input('Ingrese su voto: '))
   if voto == 1:
    candidato_1 += 1
   elif voto == 2:
    candidato_2 += 1
   elif voto == 3:
    candidato_3 += 1
   elif voto == 4:
    candidato_4 += 1
   elif voto == 5:
    votos_nulos += 1
   elif voto == 6:
    votos_en_blanco += 1
   else:
    print('Voto inválido')

print(f'El candidato 1 obtuvo {candidato_1} votos')
print(f'El candidato 2 obtuvo {candidato_2} votos')
print(f'El candidato 3 obtuvo {candidato_3} votos')
print(f'El candidato 4 obtuvo {candidato_4} votos')
print(f'Hubo {votos_nulos} votos nulos')
print(f'Hubo {votos_en_blanco} votos en blanco')
print(f'Porcentaje de votos nulos: {votos_nulos/10*100}%')
print(f'Porcentaje de votos en blanco: {votos_en_blanco/10*100}%')

Ingrese su voto: 2
Ingrese su voto: 2
Ingrese su voto: 2
Ingrese su voto: 2
Ingrese su voto: 2
Ingrese su voto: 4
Ingrese su voto: 4
Ingrese su voto: 6
Ingrese su voto: 5
Ingrese su voto: 5
El candidato 1 obtuvo 0 votos
El candidato 2 obtuvo 5 votos
El candidato 3 obtuvo 0 votos
El candidato 4 obtuvo 2 votos
Hubo 2 votos nulos
Hubo 1 votos en blanco
Porcentaje de votos nulos: 20.0%
Porcentaje de votos en blanco: 10.0%

# Estructuras de datos

Un conjunto de elementos es una colección de items, que son almacenados juntos de manera organizada. Algunos ejemplos de conjuntos de elementos en Python son las listas, los strings y los diccionarios.

In [ ]:
pregunta = '¿Quién vino primero? ¿El huevo? ¿O fue la serpiente?'
lista_palabras = pregunta.split('?')
print(lista_palabras)

['¿Quién vino primero', ' ¿El huevo', ' ¿O fue la serpiente', '']

## Listas

Las listas pueden almacenar una colección de items en orden. Ellas son delimitadas por corchetes `[]` y sus elementos son separados por comas.

Estas pueden almacenar cualquier tipo de items, incluyendo números, strings, objetos, otras listas, entre otros. También nos permiten almacenar items de tipos de datos diferentes juntos en una única lista.

In [ ]:
lista = ['Penélope Camacho',9.5,9.0,9.7,True]
lista

['Penélope Camacho', 9.5, 9.0, 9.7, True]

In [ ]:
lista = ['Penélope Camacho',9.5,9.0,9.7,True]

type(lista)

list

Las listas son organizadas en Python porque **cada elemento de la lista tiene un índice que indica su posición al interior de la lista**. Los índices comienzan en 0 van hasta el tamaño de la lista menos 1.

Tenemos entonces 5 elementos con índices que varían de 0 a 4, ordenadamente:

```
#             [0]           [1]   [2]   [3]    [4]
lista = ['Penélope Camacho', 9.5 , 9.0 , 9.7 , True]
```

En Python tenemos también los índices **negativos** que se inician en el último elemento con el valor de `-1` y avanzan en el universo de los negativos hasta llegar al 1° elemento:

```
#             [-5]         [-4]  [-3]  [-2]   [-1]
lista = ['Penélope Camacho', 9.5 , 9.0 , 9.7 , True]
```

Logramos seleccionar separadamente cada elemento a través de sus respectivos índices. Colocando el nombre de la lista y en seguida el índice que será seleccionado.

In [ ]:
lista[0]

'Penélope Camacho'

Una forma más dinámica de trabajar item a item en una lista es utilizando un lazo `for` para leer un elemento a la vez.

In [ ]:
type(lista[0])

str

In [ ]:
for elemento in lista:
  print(elemento)

Penélope Camacho
9.5
9.0
9.7
True

**Situación**: La nota `9.0` de Penélope necesita ser ajustada pues ganó 1 punto en su última nota por participación en clase. Entonces es necesario realizar un cambio en el índice `2` de `9.0` a `10.0`.

In [ ]:
lista[2]= 10.0

In [ ]:
lista

['Penélope Camacho', 9.5, 10.0, 9.7, True]

También podemos calcular el promedio del estudiante a partir de los datos que tenemos.

In [ ]:
promedio = (lista[1]+lista[2]+lista[3])/3
promedio

9.733333333333333

## Manipulación de listas

Las listas son muy útiles en Python porque nos permiten almacenar y acceder a una colección de items de manera organizada y rápida. Estas también ofrecen muchos métodos útiles para manipular los itens almacenados, como adicionar, remover, clasificar y buscar elementos.

In [ ]:
len(lista)

5

In [ ]:
 #Uso del metodo Insert

razas_de_perros = ['Labrador Retriever',
                   'Bulldog Francés',
                   'Pastor Alemán',
                   'Poodle']

razas_de_perros.insert(1, 'Golden Retriever')
razas_de_perros

['Labrador Retriever',
 'Golden Retriever',
 'Bulldog Francés',
 'Pastor Alemán',
 'Poodle']

#### Cantidad de elementos

Usamos la función [`len()`](https://docs.python.org/3/library/functions.html#len) para descubrir la cantidad de elementos de un conjunto.

In [ ]:
razas_de_perros = ['Labrador Retriever',
                   'Golden Retriever',
                   'Bulldog Francés',
                   'Pastor Alemán',
                   'Poodle']
len(razas_de_perros)

5

In [ ]:
#Uso metodo Pop, entrega el elemento de la lista según indice idicado.
razas_de_perros.pop (1)

'Golden Retriever'

In [ ]:
#Uso de Index, entrega el indice del elemento indicado.
razas_de_perros.index('Pastor Alemán')

2

In [ ]:
#Metodo SORT
razas_de_perros = ['Labrador Retriever',
                   'Golden Retriever',
                   'Bulldog Francés',
                   'Pastor Alemán',
                   'Poodle']
razas_de_perros.sort()
razas_de_perros

['Bulldog Francés',
 'Golden Retriever',
 'Labrador Retriever',
 'Pastor Alemán',
 'Poodle']

#### Partición

La partición de listas por indexación en Python es una técnica muy útil para seleccionar un subconjunto de elementos de una lista. Esta se realiza usando la sintaxis `lista[inicio:fin]`, donde `inicio` es el índice del primer elemento que será incluído en la partición `fin` es el índice del primer elemento que será excluído de la partición.

In [ ]:
lista[0:2]

['Penélope Camacho', 9.5]

In [ ]:
lista[:3]

['Penélope Camacho', 9.5, 10.0]

In [ ]:
lista[3:]

[9.7, True]

In [ ]:
lista[:]

['Penélope Camacho', 9.5, 10.0, 9.7, True]

#### [`append()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=of%20list%20objects%3A-,list.append(x),-Add%20an%20item)

Añade un elemento al final de la lista.

In [ ]:
lista.append(promedio)

In [ ]:
lista

['Penélope Camacho', 9.5, 10.0, 9.7, True, 9.733333333333333]

#### [`extend()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=list.extend(iterable))

Añade varios elementos al final de la lista.

Añadiremos las notas `[10.0,8.0,9.0]` En la lista de Penélope Camacho.

In [ ]:
lista.extend([10.0,8.0,9.0])
lista

['Penélope Camacho',
 9.5,
 10.0,
 9.7,
 True,
 9.733333333333333,
 10.0,
 8.0,
 9.0,
 10.0,
 8.0,
 9.0]

*A continuación te mostraremos lo que no puede realizarse con* `append`.

In [ ]:
lista.append(10.0, 8.0, 9.0)

TypeError: list.append() takes exactly one argument (3 given)

#### [`remove()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=append(x).-,list.remove(x),-Remove%20the%20first)

Remueve un elemento específico de la lista.

In [ ]:
lista.remove(9.0)

In [ ]:
lista

['Penélope Camacho', 9.5, 9.7, True, 9.733333333333333, 10.0]

## Diccionario

Los diccionarios son un tipo de estructura de datos que almacenan pares de *llave-valor*. Estos son delimitados por llaves `{}` y los pares *llave-valor* son separados por comas.

```
diccionario = {llave: valor}
```

La **llave** es un elemento único que identifica a un valor en el diccionario, mientras que el **valor** es el item que será almacenado para la llave. Las llaves y sus respectivos valores se pueden emplear para **cualquier tipo de dato**.

Los diccionarios son útiles para almacenar y acceder a los datos de manera organizada y rápida. Se trata de un tipo de conjunto de elementos en Python, pues almacenan una colección de items.

In [ ]:
tienda = {'nombres': ['televisión', 'celular', 'notebook', 'geladeira', 'estufa'],
          'precios': [2000, 1500, 3500, 4000, 1500]}
for clave, elementos in tienda.items():
   print(f'Clave: {clave}\nElementos:')
   for dato in elementos:
    print(dato)

Clave: nombres
Elementos:
televisión
celular
notebook
geladeira
estufa
Clave: precios
Elementos:
2000
1500
3500
4000
1500

---
**Situación:**

Vamos a crear un conjunto de datos con las informaciones de matrícula de un estudiante. Los datos son los siguientes:

- matrícula: 2000168933
- día de registro: 25
- mes de registro: 10
- grupo: 2E

In [ ]:
 estudiante = {
              'matricula': 2000168933,
              'dia': 25,
              'mes': 10,
              'grupo': '2E'
              }

In [ ]:
estudiante

{'matricula': 2000168933, 'dia': 25, 'mes': 10, 'grupo': '2E'}

In [ ]:
estudiante ['matricula']

2000168933

Es posible sustituir los valores dentro de una llave. Por ejemplo, recibimos la información de que el grupo del estudiante que registramos cambio a `'2G'` y ahora necesitamos cambiar el valor de la llave `'grupo'`.

In [ ]:
estudiante['grupo']

'2E'

In [ ]:
estudiante['grupo'] = '2G'

In [ ]:
estudiante

{'matricula': 2000168933, 'dia': 25, 'mes': 10, 'grupo': '2G'}

También podemos añadir otros datos al diccionario. Vamos a añadir la información sobre la modalidad de estudio, nuestro estudiante estudiará inicialemente en la modalidad EAD.

Definiremos una llave llamada `'modalidad'` con el valor `'EAD'`.

In [ ]:
estudiante['modalidad'] = 'EAD'

In [ ]:
estudiante

{'matricula': 2000168933,
 'dia': 25,
 'mes': 10,
 'grupo': '2G',
 'modalidad': 'EAD'}

In [ ]:
len(estudiante)

5

## Profundizando en diccionarios

#### [`pop()`](https://python-reference.readthedocs.io/en/latest/docs/dict/pop.html)
Remueve un item de un diccionario y lo representa en la salida.

In [ ]:
estudiante.pop('grupo')

'2G'

In [ ]:
estudiante

{'matricula': 2000168933, 'dia': 25, 'mes': 10, 'modalidad': 'EAD'}

#### [`items()`](https://python-reference.readthedocs.io/en/latest/docs/dict/items.html)
Retorna una lista de pares `llave-valor` del diccionario.

In [ ]:
estudiante.items()

dict_items([('matricula', 2000168933), ('dia', 25), ('mes', 10), ('modalidad', 'EAD')])

#### [`keys()`](https://python-reference.readthedocs.io/en/latest/docs/dict/keys.html)
Retorna una lista de las llaves del diccionario.

In [ ]:
estudiante.keys()

dict_keys(['matricula', 'dia', 'mes', 'modalidad'])

#### [`values()`](https://python-reference.readthedocs.io/en/latest/docs/dict/values.html)
Retorna una lista de los valores del diccionario.

In [ ]:
estudiante.values()

dict_values([2000168933, 25, 10, 'EAD'])

### Lectura de valores con el lazo `for`

In [ ]:
for llave in estudiante.keys():
  print(llave)

matricula
dia
mes
modalidad

In [ ]:
for llave,valor in estudiante.items():
   print( llave,' ----->',valor)

matricula  -----> 2000168933
dia  -----> 25
mes  -----> 10
modalidad  -----> EAD

FUNCIONES INCORPORADAS

In [ ]:
precios = [100.0, 400.0, 200.0]
suma = sum(precios)
suma

700.0

In [ ]:
lista = [1,2,3]
dir(lista)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

EJERCICIOS  LISTAS Y DICCIONARIOS

In [ ]:
#1 - Crea un programa que tenga la siguiente lista con los gastos de una empresa de papel [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08].
#Con estos valores, crea un programa que calcule el promedio de gastos.
#Sugerencia: usa las funciones integradas sum() y len().

gastos_empresa= [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.0]

promedio = sum(gastos_empresa)/len(gastos_empresa)
print(f'El promedio de gastos es: {promedio}')

El promedio de gastos es: 3144.214

In [ ]:
#2 - Con los mismos datos de la pregunta anterior,
#determina cuántas compras se realizaron por encima de 3000 reales y calcula el porcentaje con respecto al total de compras.

gastos_empresa= [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.0]

compras_encima_3000 = 0
for compra in gastos_empresa:
  if compra > 3000:
    compras_encima_3000 += 1
    porcentaje = compras_encima_3000 / len(gastos_empresa) * 100
print(f'El porcentaje de compras por encima de 3000 reales es: {porcentaje}%')
print(f'{contador_acima_3000} compras estuvieron por encima de R$3000,00.')

El porcentaje de compras por encima de 3000 reales es: 70.0%
7 compras estuvieron por encima de R$3000,00.

In [ ]:
#3 - Crea un código que recoja en una lista 5 números enteros aleatorios e imprima la lista.
#Ejemplo: [1, 4, 7, 2, 4].

lista_num=[]
for n in range(0,5):
  num = int(input('Ingresa un número entero: '))
  lista_num.append(num)
print(f'Lista de numeros: {lista_num}')

Ingresa un número entero: 2
Ingresa un número entero: 3
Ingresa un número entero: 4
Ingresa un número entero: 5
Ingresa un número entero: 6
Lista de numeros: [2, 3, 4, 5, 6]

In [ ]:
#4 - Recoge nuevamente 5 números enteros e imprime la lista en orden inverso al enviado.
lista_num=[]
for n in range(0,5):
  num = int(input('Ingresa un número entero: '))
  lista_num.append(num)
print(f'Lista de números invertida: {lista_numeros[::-1]}')

Ingresa un número entero: 2
Ingresa un número entero: 3
Ingresa un número entero: 4
Ingresa un número entero: 5
Ingresa un número entero: 6
Lista de números invertida: [6, 5, 4, 3, 2]

In [ ]:
#5 - Crea un programa que, al ingresar un número cualquiera,
#genere una lista que contenga todos los números primos entre 1 y el número ingresado.

num_primos=[]
num = int(input('Ingresa un número entero: '))

for i in range(2, num):
    primo = True
    for prueba_divisibles in range(2, i):
      if i % prueba_divisibles == 0:
        primo = False
        break
    if primo:
        num_primos.append(i)
print(f'Lista de numeros primos: {num_primos}')

Ingresa un número entero: 9
Lista de numeros primos: [2, 3, 5, 7]

In [ ]:
# Recopilamos la fecha
dia = int(input('Ingrese el día: '))
mes = int(input('Ingrese el mes: '))
año = int(input('Ingrese el año: '))

# Análisis de febrero
if mes == 2:
  # Verificamos si es o no un año bisiesto
  if año % 4 == 0 and (año % 400 == 0 or año % 100 != 0):
    dias_febrero = 29
  else:
    dias_febrero = 28
  # Verificamos si el día ingresado coincide con el máximo de días de febrero
  if dia >= 1 and dia <= dias_febrero:
    print('Fecha válida')
  else:
    print('Fecha inválida')
# Verificamos meses que terminan en 31 días
elif mes in [1, 3, 5, 7, 8, 10, 12]:
  if dia >= 1 and dia <= 31:
    print('Fecha válida')
  else:
    print('Fecha inválida')
# Verificamos meses que terminan en 30 días
elif mes in [4, 6, 9, 11]:
  if dia >= 1 and dia <= 30:
    print('Fecha válida')
  else:
    print('Fecha inválida')
# Si el mes no está entre 1 y 12
else:
  print('Fecha inválida')

Ingrese el día: 24
Ingrese el mes: 2
Ingrese el año: 2025
Fecha válida

In [ ]:
#7 - Para un estudio sobre la multiplicación de bacterias en una colonia, se recopiló el número de bacterias multiplicadas por día y se puede observar a continuación: [1.2, 2.1, 3.3, 5.0, 7.8, 11.3, 16.6, 25.1, 37.8, 56.9].
#Con estos valores, crea un código que genere una lista que contenga el porcentaje de crecimiento de bacterias por día, comparando el número de bacterias en cada día con el número de bacterias del día anterior.
#Sugerencia: para calcular el porcentaje de crecimiento, utiliza la siguiente ecuación: 100 * (muestra_actual - muestra_anterior) / muestra_anterior.

num_bact_dia = [1.2, 2.1, 3.3, 5.0, 7.8, 11.3, 16.6, 25.1, 37.8, 56.9]

porcentaje_crecimiento = []

for i in range(1, len(num_bact_dia)):
  porcentaje = 100 * (num_bact_dia[i] - num_bact_dia[i-1]) / (num_bact_dia[i-1])
  porcentaje_crecimiento.append(porcentaje)

print(f'Porcentajes de crecimiento:\n{porcentaje_crecimiento}')

Porcentajes de crecimiento:
[75.00000000000001, 57.142857142857125, 51.51515151515153, 56.0, 44.87179487179489, 46.90265486725664, 51.20481927710843, 50.59760956175297, 50.52910052910054]

In [4]:
#8. Para una selección de productos alimenticios, debemos separar el conjunto de IDs proporcionados por números enteros,
#sabiendo que los productos con ID par son dulces y los que tienen ID impar son amargos.
#Crea un código que recoja 10 IDs.
#Luego, calcula y muestra la cantidad de productos dulces y amargos.

ids = []
dulces = 0
amargos = 0

for i in range(10):
  id = int(input('Ingrese el ID del producto: '))
  ids.append(id)
  if id % 2 == 0:
    dulces += 1
  else:
    amargos += 1

print(f'Cantidad de productos dulces: {dulces}')
print(f'Cantidad de productos amargos: {amargos}')

Ingrese el ID del producto: 23444
Ingrese el ID del producto: 23461
Ingrese el ID del producto: 23462
Ingrese el ID del producto: 23463
Ingrese el ID del producto: 23464
Ingrese el ID del producto: 23445
Ingrese el ID del producto: 23465
Ingrese el ID del producto: 23466
Ingrese el ID del producto: 23467
Ingrese el ID del producto: 23469
Cantidad de productos dulces: 4
Cantidad de productos amargos: 6

In [7]:
#9. Desarrolla un programa que informe la puntuación de un estudiante de acuerdo con sus respuestas.
#Debe pedir la respuesta del estudiante para cada pregunta y verificar si la respuesta coincide con el resultado del examen.
#Cada pregunta vale un punto y hay opciones A, B, C o D.

respuestas= []
resp_corr = ['D','A','C','B','A','D','C','C','A','B']
puntaje_estudiante =0

for r in range (0,10):
  respuestas.append(input(f'Ingrese respuesta del estudiante{r+1}:').upper())

for r in range(0,10):
  if respuestas[r] == resp_corr[r]:
    puntaje_estudiante +=1

print(f'Puntaje final :{puntaje_estudiante}')

Ingrese respuesta del estudiante1:a
Ingrese respuesta del estudiante2:a
Ingrese respuesta del estudiante3:c
Ingrese respuesta del estudiante4:d
Ingrese respuesta del estudiante5:a
Ingrese respuesta del estudiante6:d
Ingrese respuesta del estudiante7:c
Ingrese respuesta del estudiante8:c
Ingrese respuesta del estudiante9:b
Ingrese respuesta del estudiante10:b
Puntaje final :7

In [11]:
#10 - Un instituto de meteorología desea realizar un estudio de la temperatura media de cada mes del año.
#Para ello, debes crear un código que recoja y almacene esas temperaturas medias en una lista.
#Luego, calcula el promedio anual de las temperaturas y muestra todas las temperaturas por encima del promedio anual y en qué mes ocurrieron,
# mostrando los meses por su nombre (Enero, Febrero, etc.).

Temp_media_mes = []
meses = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']

for mes in meses:
  temp_media = float(input(f'Ingrese la temperatura media de {mes}: '))
  Temp_media_mes.append(temp_media)
  promedio_anual = sum(Temp_media_mes) / len(meses)

print(f'Temperaturas por encima del promedio anual:\n')

for i in range(len(meses)):
  if Temp_media_mes[i] > promedio_anual:
    print(f'{meses[i]}: {Temp_media_mes[i]}')

print(f'La temperatura promedio anual es : {promedio_anual}')

Ingrese la temperatura media de Enero: 33
Ingrese la temperatura media de Febrero: 31
Ingrese la temperatura media de Marzo: 30
Ingrese la temperatura media de Abril: 26
Ingrese la temperatura media de Mayo: 20
Ingrese la temperatura media de Junio: 15
Ingrese la temperatura media de Julio: 12
Ingrese la temperatura media de Agosto: 14
Ingrese la temperatura media de Septiembre: 19
Ingrese la temperatura media de Octubre: 25
Ingrese la temperatura media de Noviembre: 29
Ingrese la temperatura media de Diciembre: 32
Temperaturas por encima del promedio anual:

Enero: 33.0
Febrero: 31.0
Marzo: 30.0
Abril: 26.0
Octubre: 25.0
Noviembre: 29.0
Diciembre: 32.0
La temperatura promedio anual es : 23.833333333333332

In [15]:

#11. Una empresa de comercio electrónico está interesada en analizar las ventas de sus productos.
#Los datos de ventas se han almacenado en un diccionario:
#Escribe un código que calcule el total de ventas y el producto más vendido.
#{'Producto A': 300, 'Producto B': 80, 'Producto C': 60, 'Producto D': 200, 'Producto E': 250, 'Producto F': 30}

total_ventas = 0
producto_mas_vendido = ''
cantidad_mas_vendida = 0

ventas = {'Producto A': 300, 'Producto B': 80, 'Producto C': 60, 'Producto D': 200, 'Producto E': 250, 'Producto F': 30}

for producto, cantidad in ventas.items():
  total_ventas += cantidad
  if cantidad > cantidad_mas_vendida:
    cantidad_mas_vendida = cantidad
    producto_mas_vendido = producto
print(f'Total de ventas: {total_ventas}')
print(f'Producto más vendido: {producto_mas_vendido}')

Total de ventas: 920
Producto más vendido: Producto A

In [20]:
# 12.Se realizó una encuesta de mercado para decidir cuál diseño de marca infantil es más atractivo para los niños.
#Los votos de la encuesta se pueden ver a continuación:
#Adapta los datos proporcionados a una estructura de diccionario. A partir de ello, informa el diseño ganador y el porcentaje de votos recibidos.
#Tabla de votos de la marca
#Diseño 1 - 1334 votos
#Diseño 2 - 982 votos
#Diseño 3 - 1751 votos
#Diseño 4 - 210 votos
#Diseño 5 - 1811 votos

votos = {'Diseño 1': 1334, 'Diseño 2': 982, 'Diseño 3': 1751, 'Diseño 4': 210, 'Diseño 5': 1811}

total_votos = sum(votos.values())
diseño_ganador = ''
porcentaje_votos = 0

for diseño, cantidad_votos in votos.items():
  porcentaje = cantidad_votos / total_votos * 100
  if porcentaje > porcentaje_votos:
    diseño_ganador = diseño
    porcentaje_votos = porcentaje

print(f'Diseño ganador: {diseño_ganador}')
print(f'Porcentaje de votos: {porcentaje_votos}')

Diseño ganador: Diseño 5
Porcentaje de votos: 29.747043363994745

In [38]:
#13 - Los empleados de un departamento de tu empresa recibirán una bonificación del 10% de su salario debido a un excelente rendimiento del equipo.
#El departamento de finanzas ha solicitado tu ayuda para verificar las consecuencias financieras de esta bonificación en los recursos.
#Se te ha enviado una lista con los salarios que recibirán la bonificación: [1172, 1644, 2617, 5130, 5532, 6341, 6650, 7238, 7685, 7782, 7903].
#La bonificación de cada empleado no puede ser inferior a 200. En el código, convierte cada uno de los salarios en claves de un diccionario y la bonificación de cada salario en el valor correspondiente.
#Luego, informa el gasto total en bonificaciones, cuántos empleados recibieron la bonificación mínima y cuál fue el valor más alto de la bonificación proporcionada.

salarios = [1172, 1644, 2617, 5130, 5532, 6341, 6650, 7238, 7685, 7782, 7903]

gasto_total = 0
min_bonif = 200
max_bonif = 0
dict_bonif = {}
empleados_min_bonif= 0
valor_mas_alto_bonificacion =0
total_bonos= 0

for salario in salarios:
  bono = salario * 0.1

  if bono < min_bonif:
       bono = min_bonif
       empleados_min_bonif += 1
  dict_bonif[salario] = bono
  total_bonos += bono

  if bono > max_bonif:
       max_bonif = bono
  gasto_total+= bono

print(f'Gasto total en bonificaciones: {dict_bonif}')
print(f' Total gastos en bonos: {total_bonos}')
print(f'Empleados con bonificación mínima: {empleados_min_bonif}')
print(f'Valor más alto de bonificación: {max_bonif}')

Gasto total en bonificaciones: {1172: 200, 1644: 200, 2617: 261.7, 5130: 513.0, 5532: 553.2, 6341: 634.1, 6650: 665.0, 7238: 723.8000000000001, 7685: 768.5, 7782: 778.2, 7903: 790.3000000000001}
 Total gastos en bonos: 6087.8
Empleados con bonificación mínima: 2
Valor más alto de bonificación: 790.3000000000001

In [50]:
#14 - Un equipo de científicos de datos está estudiando la diversidad biológica en un bosque.
#El equipo recopiló información sobre el número de especies de plantas y animales en cada área del bosque y almacenó estos datos en un diccionario.
#En él, la clave describe el área de los datos y los valores en las listas corresponden a las especies de plantas y animales en esas áreas, respectivamente.
#Escribe un código para calcular el promedio de especies por área e identificar el área con la mayor diversidad biológica.
#Sugerencia: utiliza las funciones incorporadas sum() y len().

bosque = {'Área Norte': [2819, 7236], 'Área Leste': [1440, 9492], 'Área Sul': [5969, 7496], 'Área Oeste': [14446, 49688], 'Área Centro': [22558, 45148]}

vegetales = 0
fauna = 0
promedio_plantas_area = 0
promedio_animales_area = 0
area_mayor_diversidad = ''
max_diversidad = 0
total_plantas = 0
total_areas = len(bosque)
total_animales = 0

for nombre_area, plantas_animales in bosque.items():
  plantas = plantas_animales[0]
  animales = plantas_animales[1]

  total_plantas += plantas
  total_animales= animales

  diversidad = plantas + animales
  promedio_especies = diversidad / 2  # promedio de especies por esta área
  print(f"- {nombre_area}: {promedio_especies:.2f} especies (Promedio entre plantas y animales)")

  if diversidad > max_diversidad:
    max_diversidad = diversidad
    area_mayor_diversidad = nombre_area

promedio_plantas_area = total_plantas / total_areas
promedio_animales_area = total_animales / total_areas
diversidad = promedio_plantas_area + promedio_animales_area
promedio_total_especies = promedio_plantas_area + promedio_animales_area

print(f'Área con mayor diversidad biológica: {area_mayor_diversidad}')
print(f'Promedio de plantas por área: {promedio_plantas_area}')
print(f'Promedio de animales por área: {promedio_animales_area}')
print(f'Promedio total de especies por área: {promedio_total_especies:.2f}')

- Área Norte: 5027.50 especies (Promedio entre plantas y animales)
- Área Leste: 5466.00 especies (Promedio entre plantas y animales)
- Área Sul: 6732.50 especies (Promedio entre plantas y animales)
- Área Oeste: 32067.00 especies (Promedio entre plantas y animales)
- Área Centro: 33853.00 especies (Promedio entre plantas y animales)
Área con mayor diversidad biológica: Área Centro
Promedio de plantas por área: 9446.4
Promedio de animales por área: 9029.6
Promedio total de especies por área: 18476.00

In [60]:
#El departamento de Recursos Humanos de tu empresa te pidió ayuda para analizar las edades de los colaboradores de 4 sectores de la empresa.
#Para ello, te proporcionaron los siguientes datos:
#Dado que cada sector tiene 10 colaboradores, construye un código que calcule la media de edad de cada sector, la edad media general entre todos los sectores y
# cuántas personas están por encima de la edad media general.

edades_colab = {'Sector A': [22, 26, 30, 30, 35, 38, 40, 56, 57, 65],
                'Sector B': [22, 24, 26, 33, 41, 49, 50, 54, 60, 64],
                'Sector C': [23, 26, 26, 29, 34, 35, 36, 41, 52, 56],
                'Sector D': [19, 20, 25, 27, 34, 39, 42, 44, 50, 65]}


for sector, edades in edades_colab.items():
  edad_media = sum(edades) / len(edades)
  print(f'Edad media del sector {sector}: {edad_media}')

edad_media_general = sum(sum(edades) for edades in edades_colab.values()) / sum(len(edades) for edades in edades_colab.values())
print(f'Edad media general: {edad_media_general}')

colaboradores_edad_media = sum(1 for edades in edades_colab.values() for edad in edades if edad > edad_media_general)
print(f'Colaboradores con edad por encima de la media general: {colaboradores_edad_media}')

Edad media del sector Sector A: 39.9
Edad media del sector Sector B: 42.3
Edad media del sector Sector C: 35.8
Edad media del sector Sector D: 36.5
Edad media general: 38.625
Colaboradores con edad por encima de la media general: 18

In [91]:
notas = [3, 2.7, 6.0, 4.8, 1.2, 3, 5.1, 4.9, -1, 3.3, 2.2, 4.5, 5.5]

for i in range(len(notas)):
    while notas[i] < 1 or notas[i] > 5:
        nueva = float(input(f"Nota no válida ({notas[i]}) en usuario {i}. Ingresa una nueva nota entre 0 y 5: "))
        notas[i] = nueva

print("✅ Todas las notas han sido validadas o corregidas.")
print(notas)

Nota no válida (6.0) en usuario 2. Ingresa una nueva nota entre 0 y 5: 5
Nota no válida (5.1) en usuario 6. Ingresa una nueva nota entre 0 y 5: 5
Nota no válida (-1) en usuario 8. Ingresa una nueva nota entre 0 y 5: 5
Nota no válida (5.5) en usuario 12. Ingresa una nueva nota entre 0 y 5: 5
✅ Todas las notas han sido validadas o corregidas.
[3, 2.7, 5.0, 4.8, 1.2, 3, 5.0, 4.9, 5.0, 3.3, 2.2, 4.5, 5.0]

In [95]:
notas = [3, 2.7, 6.0, 4.8, 1.2, 3, 5.1, 4.9, -1, 3.3, 2.2, 4.5, 5.5]
i = 0
while i < len(notas):
    if notas[i] < 1 or notas[i] > 5:
        nueva = float(input(f" Nota no válida ({notas[i]}) en usuario {i}. Ingrese una nota entre 0 y 5: "))
        notas[i] = nueva
        notas_corregidas.append(nueva)
    else:
        i += 1  # Solo incrementa el índice si la nota es válida

print(" Todas las notas han sido corregidas.")
print(notas)

 Nota no válida (6.0) en usuario 2. Ingrese una nota entre 0 y 5: 5
 Nota no válida (5.1) en usuario 6. Ingrese una nota entre 0 y 5: 4
 Nota no válida (-1) en usuario 8. Ingrese una nota entre 0 y 5: 3
 Nota no válida (5.5) en usuario 12. Ingrese una nota entre 0 y 5: 4
 Todas las notas han sido corregidas.
[3, 2.7, 5.0, 4.8, 1.2, 3, 4.0, 4.9, 3.0, 3.3, 2.2, 4.5, 4.0]

In [97]:
notas = [3, 2.7, 6.0, 4.8, 1.2, 3, 5.1, 4.9, -1, 3.3, 2.2, 4.5, 5.5]


for i in range(len(notas)):
    while notas[i] < 1 or notas[i] > 5:
        nueva = float(input(f"Nota no válida ({notas[i]}) en usuario {i}. Ingrese una nota entre 1 y 5: "))
        notas[i] = nueva

print(notas)

⚠️ Nota no válida (6.0) en usuario 2. Ingrese una nota entre 0 y 5: 5
⚠️ Nota no válida (5.1) en usuario 6. Ingrese una nota entre 0 y 5: 4
⚠️ Nota no válida (-1) en usuario 8. Ingrese una nota entre 0 y 5: 4
⚠️ Nota no válida (5.5) en usuario 12. Ingrese una nota entre 0 y 5: 5
[3, 2.7, 5.0, 4.8, 1.2, 3, 4.0, 4.9, 4.0, 3.3, 2.2, 4.5, 5.0]