<a href="https://colab.research.google.com/github/Gameto2025/curso_python/blob/main/Ejercicios_python_DS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

EJERCICIOS CURSO DOS CLASE UNO = BIBLIOTECAS

In [ ]:
 # 3. Crea un programa que lea la siguiente lista de números y elija uno al azar.

 lista = [8, 12, 54, 23, 43, 1, 90, 87, 105, 77]

 import random
 numero_aleatorio= random.choice(lista)
 print(numero_aleatorio)

43

In [ ]:
#4 - Crea un programa que genere aleatoriamente un número entero menor que 100.

import random
numero_aleatorio= random.randint(0,100)
print(numero_aleatorio)

18

In [ ]:
#5 - Crea un programa que solicite a la persona usuaria ingresar dos números enteros y calcule la potencia del primer número elevado al segundo.
# math.pow es para elevar a potencia
import math

num_1 = input("Ingrese el primer número: ")
num_2 = input("Ingrese el segundo número: ")
resultado = math.pow(int(num_1), int(num_2))
print(f"La potencia de {num_1} elevado a {num_2} es: {resultado}")

Ingrese el primer número: 4
Ingrese el segundo número: 4
La potencia de 4 elevado a 4 es: 256.0

In [ ]:
#6 - Se debe escribir un programa para sortear a un seguidor de una red social para ganar un premio.
# La lista de participantes está numerada y debemos elegir aleatoriamente un número según la cantidad de participantes.
# Pide a la persona usuaria que proporcione el número de participantes del sorteo y devuelve el número sorteado.

import random

cantidad_participantes = int(input("Ingrese la cantidad de participantes: "))
numero_sorteado = random.randint(1, cantidad_participantes)
print(f"El número sorteado es: {numero_sorteado}")

Ingrese la cantidad de participantes: 50
El número sorteado es: 22

In [ ]:
#7 - Has recibido una solicitud para generar números de token para acceder a la aplicación de una empresa.
# El token debe ser par y variar de 1000 a 9998. Escribe un código que solicite el nombre de la persona usuaria y muestre un mensaje junto
# a este token generado aleatoriamente.

import random

nombre_usuario = input("Ingrese su nombre de usuario: ")
token_generado = random.randrange(1000, 9999,2)
print(f"Hola, {nombre_usuario}, tu token de acceso es {token_generado} ¡Bienvenido/a!")

Ingrese su nombre de usuario: gabo
Hola, gabo, tu token de acceso es 1178 ¡Bienvenido/a!

In [ ]:
#8 - Para diversificar y atraer nuevos clientes, una lanchonete creó un ítem misterioso en su menú llamado "ensalada de frutas sorpresa".
#En este ítem, se eligen aleatoriamente 3 frutas de una lista de 12 para componer la ensalada de frutas del cliente.
#Crea el código que realice esta selección aleatoria según la lista dada.

frutas = ["manzana", "banana", "uva", "pera", "mango", "coco", "sandia", "fresa", "naranja", "maracuya", "kiwi", "cereza"]
ensalada = random.sample(frutas, 3)
print("Ensalada de frutas sorpresa:",ensalada)

Ensalada de frutas sorpresa: ['uva', 'pera', 'cereza']

In [ ]:
#9 - Has recibido un desafío para calcular la raíz cuadrada de una lista de números, identificando cuáles resultan en un número entero. La lista es la siguiente:
import math
numeros = [2, 8, 15, 23, 91, 112, 256]

for numero in numeros:
    raiz_cuadrada = math.sqrt(numero)
    if raiz_cuadrada.is_integer():
        print(f"La raíz cuadrada de {numero} es un número entero.")

La raíz cuadrada de 256 es un número entero.

In [ ]:
import math
numeros = [2, 8, 15, 23, 91, 112, 256]

raices_enteras = [num for num in numeros if math.sqrt(num) % 1 == 0]
print("Números con raíces enteras:", raices_enteras)

Números con raíces enteras: [256]

In [ ]:
# 10 - Haz un programa para una tienda que vende césped para jardines.
 # Esta tienda trabaja con jardines circulares y el precio del metro cuadrado de césped es de R$ 25,00.
# Pide a la persona usuaria el radio del área circular y devuelve el valor en reales de cuánto tendrá que pagar.

import math

precio_metro_cuadrado = 25.00
radio = float(input("Ingrese el radio del área circular en metros: "))
area_total = math.pi * math.pow(radio, 2)
precio_total = area_total * precio_metro_cuadrado

print(f"El precio total a pagar es: R$ {precio_total:.2f}")

Ingrese el radio del área circular en metros: 2
El precio total a pagar es: R$ 314.16

In [ ]:
import math

precio_metro_cuadrado = 25.00
radio = float(input("Ingrese el radio del área circular en metros: "))
area = math.pi * math.pow(radio, 2)
costo_total = precio_metro_cuadrado * area

print(f"El costo total es de R$ {round(costo_total,2)}")

Ingrese el radio del área circular en metros: 2
El costo total es de R$ 314.16

In [ ]:
#Crea un programa que: Pida al usuario que ingrese un número positivo (entero o decimal). Calcule y muestre:
#1. La raíz cuadrada (math.sqrt), 2. El logaritmo base 10 (math.log10), 3. El logaritmo natural (math.log), 4. El número redondeado hacia arriba (math.ceil)
# 5. El número redondeado hacia abajo (math.floor) 6. El valor absoluto (math.fabs) 7. El seno, coseno y tangente del número (en radianes) (math.sin, math.cos, math.tan)
# Puedes usar try/except para manejar errores si el usuario ingresa un valor no válido (como un número negativo para la raíz o el logaritmo).

import math

numero = float(input("Ingrese un número positivo: "))

if numero < 0:
    print("Por favor, ingrese un número positivo.")
else:
    print(f"La raíz cuadrada de {numero} es: {math.sqrt(numero):.2f}")
    print(f"El logaritmo base 10 de {numero} es: {math.log10(numero):.4f}")
    print(f"El logaritmo natural de {numero} es: {math.log(numero):.4f}")
    print(f"El número redondeado hacia arriba de {numero} es: {math.ceil(numero)}")
    print(f"El número redondeado hacia abajo de {numero} es: {math.floor(numero)}")
    print(f"El valor absoluto de {numero} es: {math.fabs(numero)}")
    print(f"El seno de {numero} es: {math.sin(numero):.4f}")
    print(f"El coseno de {numero} es: {math.cos(numero):.4f}")
    print(f"La tangente de {numero} es: {math.tan(numero):.4f}")

Ingrese un número positivo: 5
La raíz cuadrada de 5.0 es: 2.24
El logaritmo base 10 de 5.0 es: 0.6990
El logaritmo natural de 5.0 es: 1.6094
El número redondeado hacia arriba de 5.0 es: 5
El número redondeado hacia abajo de 5.0 es: 5
El valor absoluto de 5.0 es: 5.0
El seno de 5.0 es: -0.9589
El coseno de 5.0 es: 0.2837
La tangente de 5.0 es: -3.3805

In [ ]:
#Calcula para una lista de numeros

import math

# Lista de números de ejemplo
numeros = [4, 10.5, 25, 0.5, 100, -3, 1.732]

print(f"{'Número':>10} | {'Raíz':>8} | {'Log10':>8} | {'Log':>8} | {'Ceil':>5} | {'Floor':>5} | {'Abs':>8} | {'Seno':>8} | {'Coseno':>8} | {'Tangente':>10}")
print("-" * 100)

for numero in numeros:
    if numero <= 0:
        print(f"{numero:>10} | {'Inválido':>88}")
    else:
        raiz = math.sqrt(numero)
        log10 = math.log10(numero)
        logn = math.log(numero)
        ceil = math.ceil(numero)
        floor = math.floor(numero)
        abs_val = math.fabs(numero)
        seno = math.sin(numero)
        coseno = math.cos(numero)
        tangente = math.tan(numero)

        print(f"{numero:>10.4f} | {raiz:>8.2f} | {log10:>8.2f} | {logn:>8.2f} | {ceil:>5} | {floor:>5} | {abs_val:>8.2f} | {seno:>8.2f} | {coseno:>8.2f} | {tangente:>10.2f}")

    Número |     Raíz |    Log10 |      Log |  Ceil | Floor |      Abs |     Seno |   Coseno |   Tangente
----------------------------------------------------------------------------------------------------
    4.0000 |     2.00 |     0.60 |     1.39 |     4 |     4 |     4.00 |    -0.76 |    -0.65 |       1.16
   10.5000 |     3.24 |     1.02 |     2.35 |    11 |    10 |    10.50 |    -0.88 |    -0.48 |       1.85
   25.0000 |     5.00 |     1.40 |     3.22 |    25 |    25 |    25.00 |    -0.13 |     0.99 |      -0.13
    0.5000 |     0.71 |    -0.30 |    -0.69 |     1 |     0 |     0.50 |     0.48 |     0.88 |       0.55
  100.0000 |    10.00 |     2.00 |     4.61 |   100 |   100 |   100.00 |    -0.51 |     0.86 |      -0.59
        -3 |                                                                                 Inválido
    1.7320 |     1.32 |     0.24 |     0.55 |     2 |     1 |     1.73 |     0.99 |    -0.16 |      -6.15

In [ ]:
#Pide al usuario que ingrese tres lados de un triángulo. Luego: Verifica si los tres lados pueden formar un triángulo (usa la desigualdad triangular).
# Si es un triángulo válido: Determina su tipo: Equilátero: todos los lados iguales; Isósceles: dos lados iguales; Escaleno: todos los lados diferentes
# Calcula el perímetro. Calcula el área usando la fórmula de Herón. Calcula los tres ángulos internos usando la ley del coseno (necesitarás math.acos() y math.degrees()).
# Métodos de math a usar: math.sqrt(); math.acos() → para ángulo con ley del coseno; ##math.degrees() → pasar de radianes a grado

import math

lado1 = float(input("Ingrese la longitud del primer lado: "))
lado2 = float(input("Ingrese la longitud del segundo lado: "))
lado3 = float(input("Ingrese la longitud del tercer lado: "))

if lado1 + lado2 > lado3 and lado1 + lado3 > lado2 and lado2 + lado3 > lado1:

    print("Los tres lados forman un triángulo válido.")
    if lado1 == lado2 == lado3:
        print("El triángulo es equilátero.")
    elif lado1 == lado2 or lado1 == lado3 or lado2 == lado3:
        print("El triángulo es isósceles.")
    else:
        print("El triángulo es escaleno.")

    perimetro = lado1 + lado2 + lado3
    print("El perímetro del triángulo es:", perimetro)

    s = (lado1 + lado2 + lado3) / 2
    area = math.sqrt(s * (s - lado1) * (s - lado2) * (s - lado3))
    print(f'El área del triángulo es: {area:.2f}')

    angulos_internos_1 = math.degrees(math.acos((lado1**2 + lado2**2 - lado3**2) / (2 * lado1 * lado2)))
    print(f'El ángulo interno 1 es: {angulos_internos_1:.2f} grados')

    angulos_internos_2 = math.degrees(math.acos((lado2**2 + lado3**2 - lado1**2) / (2 * lado2 * lado3)))
    print(f"El ángulo interno 2 es: {angulos_internos_2:.2f} grados")

    angulos_internos_3 = math.degrees(math.acos((lado3**2 + lado1**2 - lado2**2) / (2 * lado3 * lado1)))
    print(f'El ángulo interno 3 es:{angulos_internos_3:.2f} grados')

Ingrese la longitud del primer lado: 2
Ingrese la longitud del segundo lado: 3
Ingrese la longitud del tercer lado: 4
Los tres lados forman un triángulo válido.
El triángulo es escaleno.
El perímetro del triángulo es: 9.0
El área del triángulo es: 2.90
El ángulo interno 1 es: 104.48 grados
El ángulo interno 2 es: 28.96 grados
El ángulo interno 3 es:46.57grados

In [ ]:
# Pide al usuario que ingrese un número decimal.Calcula y muestra:1.El número redondeado hacia arriba (math.ceil()).2.El número redondeado hacia abajo (math.floor()).
# 3. El valor truncado (eliminando la parte decimal) (math.trunc()). 4.El valor absoluto del número (math.fabs()).

import math

numero= float(input("Ingrese un número decimal: "))

numero_redondeado= math.ceil(numero)
print(f'El número redondeado hacia arriba es:{numero_redondeado}')

numero_redondeado= math.floor(numero)
print(f"El número redondeado hacia abajo es: {numero_redondeado}")

numero_truncado= math.trunc(numero)
print(f"El valor truncado del número es: {numero_truncado}")

numero_absoluto= math.fabs(numero)
print(f"El valor absoluto del número es: {numero_absoluto}")

Ingrese un número decimal: 3.5
El número redondeado hacia arriba es:4
El número redondeado hacia abajo es: 3
El valor truncado del número es: 3
El valor absoluto del número es: 3.5

In [ ]:
# uso se random.seed
import random

random.seed(26)
for _ in range(5):
    print(random.randint(1, 100))

96
26
85
27
56

In [ ]:
# random.random genere numero aleatorio de punto flotante, entre 0.0 y 1.0

import random

# Generar un número aleatorio entre 0.0 y 1.0
numero_aleatorio = random.random()
print(f"Número aleatorio generado: {numero_aleatorio}")

Número aleatorio generado: 0.7644111475143869

In [ ]:
# random.uniform genera un numero aleatorio en el rango especificado
import random
# Generar un número aleatorio entre 10.0 y 20.0
numero_aleatorio = random.uniform(10.0, 20.0)
print(f"Número aleatorio generado: {numero_aleatorio}")

Número aleatorio generado: 16.833949433521145

In [ ]:
import random

# Generar un número aleatorio con media 0 y desviación estándar 1 (distribución normal estándar)
numero_aleatorio = random.gauss(0, 1)
print(f"Número aleatorio generado con distribución normal: {numero_aleatorio}")

Número aleatorio generado con distribución normal: -0.1638637155937991

In [ ]:
import random

# Establecer una media (mu) de 50 y una desviación estándar (sigma) de 10
media = 50
desviacion_estandar = 10

# Generar un número aleatorio con esa distribución normal
numero_aleatorio = random.gauss(media, desviacion_estandar)
print(f"Número aleatorio generado con media {media} y desviación estándar {desviacion_estandar}: {numero_aleatorio}")

Número aleatorio generado con media 50 y desviación estándar 10: 39.01724673067858

EJERCICIOS CURSO 2 clase 2= FUNCIONES

In [ ]:
# 1.- Escribe un código que lee la lista siguiente y realiza:
   # 1. Leer el tamaño de la lista
   # 2. Leer el valor máximo y mínimo
   # 3. Calcular la suma de los valores de la lista
   # 4. Mostrar un mensaje al final: La lista tiene `tamano` números, donde el mayor
        # es `mayor` y el menor es `menor`. La suma de los valores es `suma`

Lista = [16, 14, 63, 65, 17, 99, 70, 11, 20, 48, 79, 32, 17, 89, 12, 25, 66]

tamaño_lista= len(Lista)

mayor_valor= max(Lista)

menor_valor= min(Lista)

suma_valores= sum(Lista)

print(f"La lista tiene {tamaño_lista} números, donde el mayor es {mayor_valor} y el menor es {menor_valor}. La suma de los valores es {suma_valores}")

La lista tiene 17 números, donde el mayor es 99 y el menor es 11. La suma de los valores es 743

In [ ]:
# 2 - Escribe una función que genere la tabla de multiplicar de un número entero del 1 al 10, según la elección del usuario.
#Como ejemplo, para el número 7, la tabla de multiplicar se debe mostrar en el siguiente formato:
# Tabla del  7:
# 7 x 0 = 0
# 7 x 1 = 7
# [...]
# 7 x 10 = 70

def tabla_multiplicar(numero):
    print(f"Tabla del {numero}:")
    for i in range(1,11):
        print(f"{numero} x {i} = {numero*i}")

tabla_multiplicar(8)

Tabla del 8:
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

In [ ]:
# 3 - Crea una función que lea la siguiente lista y devuelva una nueva lista con los múltiplos de 3:

def multiplos_de_tres(lista):
    return [num for num in lista if num % 3 == 0]

# Uso de la función
lista_original = [97, 80, 94, 88, 80, 1, 16, 53, 62, 32, 24, 99]
mult_3 = multiplos_de_tres(lista_original)
print(mult_3)

[24, 99]

In [ ]:
# 4 - Crea una lista de los cuadrados de los números de la siguiente lista [1, 2, 3, 4, 5, 6, 7, 8, 9, 10].
# Recuerda utilizar las funciones lambda y map() para calcular el cuadrado de cada elemento de la lista.

numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
cuadrados= list(map(lambda x: x**2, numeros))
print(cuadrados)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
#Usando list comprehension en vez de map.
numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
cuadrados = [x**2 for x in numeros]
print(cuadrados)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# 5 - Has sido contratado como científico(a) de datos de una asociación de skate.
# Para analizar las notas recibidas por los skaters en algunas competiciones a lo largo del año, necesitas crear un código que calcule la puntuación de los atletas.
# Para ello, tu código debe recibir 5 notas ingresadas por los jueces.

notas_jueces = [float(input(f"Ingrese la nota del juez {i + 1}: ")) for i in range(5)]
notas_jueces.sort()
media = sum(notas_jueces[1:4]) / 3
print(f'La puntuación del competidor es: {media:.2f}')

Ingrese la nota del juez 1: 5
Ingrese la nota del juez 2: 5
Ingrese la nota del juez 3: 4
Ingrese la nota del juez 4: 4
Ingrese la nota del juez 5: 5
La puntuación del competidor es: 4.67

In [ ]:
# 6 - Para cumplir con una demanda de una institución educativa para el análisis del rendimiento de sus estudiantes,
# necesitas crear una función que reciba una lista de 4 notas y devuelva:
# mayor nota
# menor nota
# media
# situación (Aprobado(a) o Reprobado(a))
# Uso de la función
# Mostrar: El estudiante obtuvo una media de `media`, con la mayor nota de `mayor` puntos y la menor nota de `menor` puntos y fue `situacion`.)

def analisis_notas(notas):
    mayor_nota = max(notas)
    menor_nota = min(notas)
    media = sum(notas) / len(notas)
    situacion = "Aprobado" if media >= 6 else "Reprobado"
    return mayor_nota, menor_nota, media, situacion

notas_estudiantes = [float(input(f"Ingrese la nota del estudiante {i + 1}: ")) for i in range(4)]
mayor, menor, media, situacion = analisis_notas(notas_estudiantes)
print(f"El estudiante obtuvo una media de {media:.2f}, con la mayor nota de {mayor} puntos y la menor nota de {menor} puntos y fue {situacion}.")

Ingrese la nota del estudiante 1: 5
Ingrese la nota del estudiante 2: 4
Ingrese la nota del estudiante 3: 6
Ingrese la nota del estudiante 4: 7
El estudiante obtuvo una media de 5.50, con la mayor nota de 7.0 puntos y la menor nota de 4.0 puntos y fue Reprobado.

In [ ]:
# 7 - Has recibido una demanda para tratar 2 listas con los nombres y apellidos de cada estudiante concatenándolos para presentar
# sus nombres completos en la forma Nombre Apellido. Las listas son:
# Normalizar nombres y apellidos y crear una nueva lista con los nombres completos
# Puedes apoyarte en la función map()

nombres = ["juan", "MaRia", "JOSÉ"]
apellidos = ["SILVA", "sosa", "Tavares"]

def concatenar_nombres_apellidos(nombres, apellidos):
    nombres_mayuscula = [nombre.upper() for nombre in nombres]
    apellidos_mayuscula = [apellido.upper() for apellido in apellidos]
    nombres_completos = list(map(lambda x, y: x + " " + y, nombres_mayuscula, apellidos_mayuscula))
    return nombres_completos

nombres_completos = concatenar_nombres_apellidos(nombres, apellidos)
print(nombres_completos)

['JUAN SILVA', 'MARIA SOSA', 'JOSÉ TAVARES']

In [ ]:
# Forma con menos codigo y sin map.

nombres = ["juan", "MaRia", "JOSÉ"]
apellidos = ["SILVA", "sosa", "Tavares"]

def concatenar_nombres_apellidos(nombres, apellidos):
    return [f"{n.upper()} {a.upper()}" for n, a in zip(nombres, apellidos)]

nombres_completos = concatenar_nombres_apellidos(nombres, apellidos)
print(nombres_completos)

['JUAN SILVA', 'MARIA SOSA', 'JOSÉ TAVARES']

In [ ]:
# 8 - Como científico de datos en un equipo de fútbol, necesitas implementar nuevas formas de recopilación de datos sobre el rendimiento
# de los jugadores y del equipo en su conjunto. Tu primera acción es crear una forma de calcular la puntuación del equipo en el campeonato nacional
# a partir de los datos de goles marcados y recibidos en cada juego.
# Escribe una función llamada calcula_puntos() que recibe como parámetros dos listas de números enteros, representando los goles marcados y recibidos
# por el equipo en cada partido del campeonato. La función debe devolver la puntuación del equipo y el rendimiento en porcentaje, teniendo en cuenta que
# la victoria vale 3 puntos, el empate 1 punto y la derrota 0 puntos.
# Nota: si la cantidad de goles marcados en un partido es mayor que los recibidos, el equipo ganó.
# En caso de ser igual, el equipo empató, y si es menor, el equipo perdió. Para calcular el rendimiento,
# debemos hacer la razón entre la puntuación del equipo y la puntuación máxima que podría recibir.
# Para la prueba, utiliza las siguientes listas de goles marcados y recibidos:
# Texto probablemente mostrado:
# La puntuación del equipo fue `puntos` y su rendimiento fue `desempeno`%"

goles_marcados = [2, 1, 3, 1, 0]
goles_recibidos = [1, 2, 2, 1, 3]

def calcula_puntos(goles_marcados, goles_recibidos):
    puntos = 0
    for i in range(len(goles_marcados)):
        if goles_marcados[i] > goles_recibidos[i]:
            puntos += 3
        elif goles_marcados[i] == goles_recibidos[i]:
            puntos += 1
        else:
            puntos += 0
    rendimiento = puntos / (len(goles_marcados) * 3) * 100
    return puntos, rendimiento

puntos, rendimiento = calcula_puntos(goles_marcados, goles_recibidos)
print(f"La puntuación del equipo fue {puntos} y su rendimiento fue { round(rendimiento)}%")

La puntuación del equipo fue 7 y su rendimiento fue 47%

In [ ]:
#9 - Te han desafiado a crear un código que calcule los gastos de un viaje a una de las cuatro ciudades desde Recife, siendo ellas: Salvador, Fortaleza, Natal y Aracaju.
# El costo diario del hotel es de 150 reales en todas ellas y el consumo de gasolina en el viaje en coche es de 14 km/l, siendo que el precio de la gasolina es de 5 reales por litro.
# Los gastos con paseos y alimentación a realizar en cada una de ellas por día serían [200, 400, 250, 300], respectivamente.
# Sabiendo que las distancias entre Recife y cada una de las ciudades son aproximadamente [850, 800, 300, 550] km,
# Crea tres funciones: la primera función calcula los gastos de hotel (gasto_hotel), la segunda calcula los gastos de gasolina (gasto_gasolina) y
# la tercera los gastos de paseo y alimentación (gasto_paseo).
# Para probar, simula un viaje de 3 días a Salvador desde Recife. Considera el viaje de ida y vuelta en coche.
# Texto probablemente mostrado:
# Con base en los gastos definidos, un viaje de [dias] días a [ciudad] desde
# Recife costaría [gastos] reales.

dias = int(input("¿Cuántos dias? "))
ciudad = input("¿A que ciudad? [Salvador, Fortaleza, Natal o Aracaju]: ")
distancias = [850, 800, 300, 550]
paseo = [200, 400, 250, 300]
km_l = 14
gasolina = 5

def gasto_hotel(dias):
    return 150 * dias

def gasto_gasolina(ciudad):
    if ciudad == "Salvador":
        return (2 * distancias[0] * gasolina) / km_l
    elif ciudad == "Fortaleza":
        return (2 * distancias[1] * gasolina) / km_l
    elif ciudad == "Natal":
        return (2 * distancias[2] * gasolina) / km_l
    elif ciudad == "Aracaju":
        return (2 * distancias[3] * gasolina) / km_l

def gasto_paseo(ciudad, dias):
    if ciudad=="Salvador":
        return paseo[0] * dias
    elif ciudad=="Fortaleza":
        return paseo[1] * dias
    elif ciudad=="Natal":
        return paseo[2] * dias
    elif ciudad=="Aracaju":
        return paseo[3] * dias

gastos = gasto_hotel(dias) + gasto_gasolina(ciudad) + gasto_paseo(ciudad, dias)
print(f"Con base en los gastos definidos, un viaje de {dias} días desde Recife a {ciudad} costaría {round(gastos, 2)} reales")

¿Cuántas diarias? 3
¿Cuál es la ciudad? [Salvador, Fortaleza, Natal o Aracaju]: Salvador
Con base en los gastos definidos, un viaje de 3 días a Salvador desde Recife costaría 1657.14 reales

In [ ]:
km_l = 14
gasolina = 5
hotel_por_dia = 150

datos_ciudad = {
    "Salvador":   {"distancia": 850, "paseo": 200},
    "Fortaleza":  {"distancia": 800, "paseo": 400},
    "Natal":      {"distancia": 300, "paseo": 250},
    "Aracaju":    {"distancia": 550, "paseo": 300}
}
dias = int(input("¿Cuántos dias? "))
ciudad = input("¿A que es la ciudad? [Salvador, Fortaleza, Natal o Aracaju]: ")

dist = datos_ciudad[ciudad]["distancia"]
paseo_diario = datos_ciudad[ciudad]["paseo"]

gasto_hotel = hotel_por_dia * dias
gasto_gasolina = (2 * dist * gasolina) / km_l
gasto_paseo = paseo_diario * dias

total = gasto_hotel + gasto_gasolina + gasto_paseo

# Resultado
print(f"Con base en los gastos definidos, un viaje de {dias} días desde Recife a {ciudad} costaría {round(total, 2)} reales.")

¿Cuántos dias? 3
¿A que es la ciudad? [Salvador, Fortaleza, Natal o Aracaju]: Salvador
Con base en los gastos definidos, un viaje de 3 díasdesde Recife a Salvador costaría 1657.14 reales.

In [ ]:
# 10 - Has comenzado una pasantía en una empresa que trabaja con procesamiento de lenguaje natural (NLP).
# Tu líder te solicitó que crees un fragmento de código que reciba una frase escrita por el usuario y filtre solo las palabras con un tamaño mayor o igual a 5,# mostrándolas en una lista.
# Esta demanda se centra en el análisis del patrón de comportamiento de las personas al escribir palabras de esta cantidad de caracteres o más.
# Consejo: utiliza las funciones lambda y filter() para filtrar estas palabras. Recordando que la función integrada filter() recibe una función (en nuestro caso,
# una función lambda) y filtra un iterable según la función. Para tratar la frase, utiliza replace() para cambiar ',' '.', '!' y '?' por espacio.
# Utiliza la frase "Aprender Python aquí en Alura es muy bueno" para probar el código.

frase = input("Escribe una frase: ")
frase = frase.replace(',',' ').replace('.',' ').replace('!',' ').replace('?',' ').split()

# Filtrando la frase en formato de lista, pasando a la lista tamaño
# solo las palabras con 5 o más caracteres e imprimiéndola en pantalla
tamano = list(filter(lambda x: len(x) >= 5, frase))
print(tamano)

Escribe una frase: hola me llamo gabo y estoy en quillota
['llamo', 'estoy', 'quillota']

In [ ]:
# usa list comprehension.

frase = input("Escribe una frase: ")
palabras = frase.replace(',', ' ').replace('.', ' ').replace('!', ' ').replace('?', ' ').split()
tamano = [palabra for palabra in palabras if len(palabra) >= 5]
print(tamano)

Escribe una frase: hola me llamo gabo y estoy en quillota
['llamo', 'estoy', 'quillota']

In [ ]:
# Usa modulo re para buscar, reemplazar o validar textos.

import re

frase = input("Escribe una frase: ")
palabras = re.findall(r'\b\w+\b', frase)  # Encuentra palabras ignorando puntuación
tamano = [p for p in palabras if len(p) >= 5]
print(tamano)

Escribe una frase: hola como estas , me llamo gabo y estoy en quillota
['estas', 'llamo', 'estoy', 'quillota']

In [ ]:
#Codigo muy compacto.

print([p for p in input("Escribe una frase: ").replace(',', ' ').replace('.', ' ').replace('!', ' ').replace('?', ' ').split() if len(p) >= 5])

Escribe una frase: hola como estas?, me llamo gabo y estoy en quillota
['estas', 'llamo', 'estoy', 'quillota']

EJERCICIOS CLASE  4 CURSO DOS.

In [1]:
# 1 - Crea un código para imprimir la suma de los elementos de cada una de las listas contenidas en la siguiente lista:

lista_de_listas = [[4, 6, 5, 9], [1, 0, 7, 2], [3, 4, 1, 8]]

suma_listas = [sum(lista) for lista in lista_de_listas]
print(suma_listas)

[24, 10, 16]

In [2]:
#respuesta del profesor
for lista in lista_de_listas:
    print(sum(lista))

24
10
16

In [3]:
# 2 - Crea un código para generar una lista que almacene el tercer elemento de cada tupla contenida en la siguiente lista de tuplas:

lista_de_tuplas = [('Pedro', 1.74, 81), ('Júlia', 1.65, 67), ('Otávio', 1.81, 83)]

tercer_elemento = [tupla[2] for tupla in lista_de_tuplas]
print(tercer_elemento)

[81, 67, 83]

In [4]:
lista = []
for tupla in lista_de_tuplas:
    lista.append(tupla[2])
print(lista)

[81, 67, 83]

In [5]:
# 3 - A partir de la lista: lista = ['Pedro', 'Júlia', 'Otávio', 'Eduardo'], crea un códio para generar una lista de tuplas
# en la que cada tupla tenga el primer elemento como la posición del nombre en la lista original y el segundo elemento siendo el propio nombre.#

lista = ['Pedro', 'Júlia', 'Otávio', 'Eduardo']

lista_tuplas = [(lista.index(nombre), nombre) for nombre in lista]
print(lista_tuplas)

[(0, 'Pedro'), (1, 'Júlia'), (2, 'Otávio'), (3, 'Eduardo')]

In [6]:
#Respuesta del profesor
lista_de_tuplas = []
for i in range(len(lista)):
    lista_de_tuplas.append((i, lista[i]))
print(lista_de_tuplas)

[(0, 'Pedro'), (1, 'Júlia'), (2, 'Otávio'), (3, 'Eduardo')]

In [7]:
#4 - Crea una lista usando la comprensión de listas (list comprehension) que almacene solo el valor numérico de cada tupla en caso de que el primer elemento
# sea 'Apartamento', a partir de la siguiente lista de tuplas:

alquiler = [('Apartamento', 1700), ('Apartamento', 1400), ('Casa', 2150), ('Apartamento', 1900), ('Casa', 1100)]

valor_numerico = [tupla[1] for tupla in alquiler if tupla[0] == 'Apartamento']
print(valor_numerico)

[1700, 1400, 1900]

In [8]:
lista = [tupla[1] for tupla in alquiler if tupla[0]== 'Apartamento']
print(lista)

[1700, 1400, 1900]

In [13]:
# 5 - Crea un diccionario usando la comprensión de diccionarios (dict comprehension) en el que las claves estén en la

meses = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez']
# y los valores estén en

gasto = [860, 490, 1010, 780, 900, 630, 590, 770, 620, 560, 840, 360]

dict = {meses[i]:gasto[i] for i in range(len(meses))}
print(dict)

{'Jan': 860, 'Fev': 490, 'Mar': 1010, 'Abr': 780, 'Mai': 900, 'Jun': 630, 'Jul': 590, 'Ago': 770, 'Set': 620, 'Out': 560, 'Nov': 840, 'Dez': 360}

In [14]:
diccionario = {meses[i]: gasto[i] for i in range(len(meses))}
print(diccionario)

{'Jan': 860, 'Fev': 490, 'Mar': 1010, 'Abr': 780, 'Mai': 900, 'Jun': 630, 'Jul': 590, 'Ago': 770, 'Set': 620, 'Out': 560, 'Nov': 840, 'Dez': 360}

In [15]:
# 6 - Una tienda tiene una base de datos con la información de venta de cada representante y de cada año y necesita filtrar solo los datos del año 2022 con ventas mayores a 6000.
# La tienda proporcionó una muestra con solo las columnas de los años y los valores de venta para que puedas ayudar a realizar la filtración de los datos a través de un código:

ventas = [('2023', 4093), ('2021', 4320), ('2021', 5959), ('2022', 8883), ('2023', 9859), ('2022', 5141), ('2022', 7688), ('2022', 9544), ('2023', 4794), ('2021', 7178), ('2022', 3030), ('2021', 7471), ('2022', 4226), ('2022', 8190), ('2021', 9680), ('2022', 5616)]

#  Crea una lista usando la comprensión de listas para filtrar los valores de 2022 que sean mayores a 6000.

ventas_2022 = [venta for venta in ventas if venta[0] == '2022' and venta[1] > 6000]
print(ventas_2022)

[('2022', 8883), ('2022', 7688), ('2022', 9544), ('2022', 8190)]

In [16]:
filtro = [tupla[1] for tupla in ventas if tupla[0] == '2022' and tupla[1] > 6000]
print(filtro)

[8883, 7688, 9544, 8190]

In [24]:
# 7 - Una clínica analiza datos de pacientes y almacena el valor numérico de la glucosa en una base de datos y le gustaría etiquetar los datos de la siguiente manera:
# Glucosa igual o inferior a 70: 'Hipoglicemia'
# Glucosa entre 70 y 99: 'Normal'
# Glucosa entre 100 y 125: 'Alterada'
# Glucosa superior a 125: 'Diabetes'
# La clínica proporcionó parte de los valores y tu tarea es crear una lista de tuplas usando la comprensión de listas
# que contenga la etiqueta y el valor de la glucemia en cada tupla.

glicemia = [129, 82, 60, 97, 101, 65, 62, 167, 87, 53, 58, 92, 66, 120, 109, 62, 86, 96, 103, 88, 155, 52, 89, 73]

etiquetas = [('Hipoglicemia', valor) if valor <= 70 else ('Normal', valor) if valor <= 99 else ('Alterada', valor) if valor <= 125 else ('Diabetes', valor) for valor in glicemia]

print(etiquetas)

[('Diabetes', 129), ('Normal', 82), ('Hipoglicemia', 60), ('Normal', 97), ('Alterada', 101), ('Hipoglicemia', 65), ('Hipoglicemia', 62), ('Diabetes', 167), ('Normal', 87), ('Hipoglicemia', 53), ('Hipoglicemia', 58), ('Normal', 92), ('Hipoglicemia', 66), ('Alterada', 120), ('Alterada', 109), ('Hipoglicemia', 62), ('Normal', 86), ('Normal', 96), ('Alterada', 103), ('Normal', 88), ('Diabetes', 155), ('Hipoglicemia', 52), ('Normal', 89), ('Normal', 73)]

In [20]:
etiquetas = [('Hipoglicemia', glucosa) if glucosa<= 70 else ('Normal', glucosa) if glucosa< 100 else ('Alterada', glucosa) if glucosa< 125 else ('Diabetes', glucosa) for glucosa in glicemia]
print(etiquetas)

[('Diabetes', 129), ('Normal', 82), ('Hipoglicemia', 60), ('Normal', 97), ('Alterada', 101), ('Hipoglicemia', 65), ('Hipoglicemia', 62), ('Diabetes', 167), ('Normal', 87), ('Hipoglicemia', 53), ('Hipoglicemia', 58), ('Normal', 92), ('Hipoglicemia', 66), ('Alterada', 120), ('Alterada', 109), ('Hipoglicemia', 62), ('Normal', 86), ('Normal', 96), ('Alterada', 103), ('Normal', 88), ('Diabetes', 155), ('Hipoglicemia', 52), ('Normal', 89), ('Normal', 73)]

In [27]:
# 8 - Un comercio electrónico tiene información de id de venta, cantidad vendida y precio del producto divididos en las siguientes listas:
# Crea una lista de tuplas en la que cada tupla tenga id, cantidad, precio y valor total, siendo la primera tupla el encabezado de la tabla.
# La plataforma necesita estructurar estos datos en una tabla que contenga el valor total de la venta, que se obtiene multiplicando la cantidad por el precio unitario.
# Además, la tabla debe contener un encabezado indicando las columnas: 'id', 'cantidad', 'precio' y 'total'.

id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
cantidad = [15, 12, 1, 15, 2, 11, 2, 12, 2, 4]
precio = [93.0, 102.0, 18.0, 41.0, 122.0, 14.0, 71.0, 48.0, 14.0, 144.0]

tabla = [('id', 'cantidad', 'precio', 'total')]
tabla.extend([(id[i], cantidad[i], precio[i], cantidad[i] * precio[i]) for i in range(len(id))])
print(tabla)

[('id', 'cantidad', 'precio', 'total'), (0, 15, 93.0, 1395.0), (1, 12, 102.0, 1224.0), (2, 1, 18.0, 18.0), (3, 15, 41.0, 615.0), (4, 2, 122.0, 244.0), (5, 11, 14.0, 154.0), (6, 2, 71.0, 142.0), (7, 12, 48.0, 576.0), (8, 2, 14.0, 28.0), (9, 4, 144.0, 576.0)]

In [30]:
tabla = [('id', 'cantidad', 'precio', 'total')]
tabla += [(id[i], cantidad[i], precio[i], cantidad[i]*precio[i]) for i in range(len(id))]
print(tabla)

[('id', 'cantidad', 'precio', 'total'), (0, 15, 93.0, 1395.0), (1, 12, 102.0, 1224.0), (2, 1, 18.0, 18.0), (3, 15, 41.0, 615.0), (4, 2, 122.0, 244.0), (5, 11, 14.0, 154.0), (6, 2, 71.0, 142.0), (7, 12, 48.0, 576.0), (8, 2, 14.0, 28.0), (9, 4, 144.0, 576.0)]

In [32]:
#9 - Una empresa tiene sucursales distribuidas en los estados de la región Sudeste de Brasil.
#En una de las tablas de registro de las sucursales, hay una columna que contiene la información de a qué estado pertenece:

# La empresa siempre está abriendo nuevas sucursales, por lo que la tabla está constantemente recibiendo nuevos registros y al gerente le gustaría tener
# la información actualizada de la cantidad de sucursales en cada estado.

# # A partir de la columna con la información de los estados, crea un diccionario utilizando la comprensión de diccionarios (dict comprehension)
# con la clave siendo el nombre de un estado y el valor siendo la cantidad de veces que aparece el estado en la lista.
# Consejo: Puedes hacer un paso intermedio para generar una lista de listas en la que cada una de las listas tenga el nombre de solo un estado con valores repetidos.

estados =['CMX', 'OAX', 'PUE', 'PUE', 'CMX', 'PUE', 'OAX', 'OAX', 'OAX', 'CMX', 'CMX', 'PUE', 'OAX', 'CMX', 'VER', 'PUE', 'VER', 'CMX', 'PUE', 'CMX', 'OAX', 'CMX', 'PUE']

sucursales = {estado: estados.count(estado) for estado in estados}
print(sucursales)

{'CMX': 8, 'OAX': 6, 'PUE': 7, 'VER': 2}

In [33]:
# Almacenando los estados sin repetición de valor
estados_unicos = list(set(estados))

# Creando una lista de listas con valores repetidos de cada estado
lista_de_listas = []
for estado in estados_unicos:
    lista = [e for e in estados if e == estado]
    lista_de_listas.append(lista)
print(lista_de_listas)

# Creando un diccionario en el que la clave es el nombre de cada estado único y el valor es la cantidad de elementos
conteo_valores = {estados_unicos[i]: len(lista_de_listas[i]) for i in range(len(estados_unicos))}
print(conteo_valores)

[['CMX', 'CMX', 'CMX', 'CMX', 'CMX', 'CMX', 'CMX', 'CMX'], ['PUE', 'PUE', 'PUE', 'PUE', 'PUE', 'PUE', 'PUE'], ['VER', 'VER'], ['OAX', 'OAX', 'OAX', 'OAX', 'OAX', 'OAX']]
{'CMX': 8, 'PUE': 7, 'VER': 2, 'OAX': 6}

In [34]:
#10 - En esa misma tabla de registro de sucursales, hay una columna con la información de la cantidad de personas empleadas y
# el gerente quisiera tener un agrupamiento de la suma de esas personas para cada estado. Las informaciones contenidas en la tabla son:
#A partir de la lista de tuplas, crea un diccionario en el que las claves son los nombres de los estados únicos y los valores son las listas
# con el número de empleados referentes al estado.
# También crea un diccionario en el que las claves son los nombres de los estados y los valores son la suma de empleados por estado

empleados = [('CMX', 16), ('OAX', 8), ('PUE', 9), ('PUE', 6), ('CMX', 10), ('PUE', 4), ('OAX',9),  ('OAX', 7), ('OAX', 12), ('CMX', 7), ('CMX', 11), ('PUE',8), ('OAX',8), ('CMX',9), ('VER', 13), ('PUE', 5),  ('VER', 9), ('CMX', 12), ('PUE', 10), ('CMX', 7), ('OAX', 14), ('CMX', 10), ('PUE', 12)]

num_empleados = {estado: [empleados[i][1] for i in range(len(empleados)) if empleados[i][0] == estado] for estado in set([empleados[i][0] for i in range(len(empleados))])}
print(num_empleados)

suma_empleados = {estado: sum([empleados[i][1] for i in range(len(empleados)) if empleados[i][0] == estado]) for estado in set([empleados[i][0] for i in range(len(empleados))])}
print(suma_empleados)

{'CMX': [16, 10, 7, 11, 9, 12, 7, 10], 'PUE': [9, 6, 4, 8, 5, 10, 12], 'VER': [13, 9], 'OAX': [8, 9, 7, 12, 8, 14]}
{'CMX': 82, 'PUE': 54, 'VER': 22, 'OAX': 58}

In [35]:
# Almacenando los estados sin repetición de valor
estados_unicos = list(set([tupla[0] for tupla in empleados]))

# Creando una lista de listas con valores de empleados de cada estado
lista_de_listas = []
for estado in estados_unicos:
    lista = [tupla[1] for tupla in empleados if tupla[0] == estado]
    lista_de_listas.append(lista)
print(lista_de_listas)

# Creando un diccionario con datos agrupados de empleados por estado
agrupamiento_por_estado = {estados_unicos[i]: lista_de_listas[i] for i in range(len(estados_unicos))}
print(agrupamiento_por_estado)

# Creando un diccionario con la suma de empleados por estado
suma_por_estado = {estados_unicos[i]: sum(lista_de_listas[i]) for i in range(len(estados_unicos))}
print(suma_por_estado)

[[16, 10, 7, 11, 9, 12, 7, 10], [9, 6, 4, 8, 5, 10, 12], [13, 9], [8, 9, 7, 12, 8, 14]]
{'CMX': [16, 10, 7, 11, 9, 12, 7, 10], 'PUE': [9, 6, 4, 8, 5, 10, 12], 'VER': [13, 9], 'OAX': [8, 9, 7, 12, 8, 14]}
{'CMX': 82, 'PUE': 54, 'VER': 22, 'OAX': 58}